[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_liblzma
X-KDE-PluginInfo-Author=Wang Hoi
X-KDE-PluginInfo-Email=zealot.hoi@gmail.com
X-KDE-PluginInfo-Name=kerfuffle_liblzma
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=LGPL
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
#X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_liblzma
Name[sv]=Kerfuffle Liblzma
Comment=liblzma plugin for Kerfuffle
Comment[et]=Kerfuffle'i liblzma plugin
Comment[pt]='Plugin' da 'liblzma' para o Kerfuffle
Comment[pt_BR]='Plugin' da 'liblzma' para o Kerfuffle
Comment[sv]=Liblzma-insticksprogram för Kerfuffle
Comment[uk]=Додаток liblzma для Kerfuffle
MimeType=application/x-lzma;application/x-xz;
