[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_liblzma
X-KDE-PluginInfo-Author=Wang Hoi
X-KDE-PluginInfo-Email=zealot.hoi@gmail.com
X-KDE-PluginInfo-Name=kerfuffle_liblzma
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=LGPL
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
#X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_liblzma
Name[hne]=करफुफल_लिबजीजेड
Name[sv]=Kerfuffle Liblzma
Name[x-test]=xxkerfuffle_liblzmaxx
Comment=liblzma plugin for Kerfuffle
Comment[bg]=Приствка liblzma за Kerfuffle
Comment[ca]=Connector del liblzma pel Kerfuffle
Comment[da]=liblzma-plugin til Kerfuffle
Comment[de]=liblzma Modul für Kerfuffle
Comment[el]=πρόσθετο liblzma για τη Kerfuffle
Comment[es]=Complemento liblzma para Kerfuffle
Comment[et]=Kerfuffle'i liblzma plugin
Comment[eu]=Kerfuffle-rentzako liblzma plugina
Comment[fr]=Module liblzma pour Kerfuffle
Comment[ga]=Breiseán liblzma le haghaidh Kerfuffle
Comment[gl]=Extensión de liblzma para Kerfuffle
Comment[hne]=करफुफल बर लिबजीजेड प्लगइन
Comment[it]=Plugin liblzma per Kerfuffle
Comment[ja]=Kerfuffle のための liblzma プラグイン
Comment[km]=កម្មវិធី​ជំនួយ liblzma សម្រាប់ Kerfuffle
Comment[ko]=Kerfuffle을 위한 liblzma 플러그인
Comment[lv]=Kerfuffle liblzma spraudnis
Comment[nb]=liblzma pprogramtillegg for Kerfuffle
Comment[nds]=Liblzma-Moduul för Kerfuffle
Comment[nl]=liblzma-plugin voor Kerfuffle
Comment[pt]='Plugin' da 'liblzma' para o Kerfuffle
Comment[pt_BR]=Plug-in liblzma para a Kerfuffle
Comment[ro]=Modul liblzma pentru Kerfuffle
Comment[ru]=Модуль liblzma для Kerfuffle
Comment[sl]=Vstavek liblzma za Kerfuffle
Comment[sr]=Прикључак liblzma за Керфафл
Comment[sr@latin]=Priključak liblzma za Kerfuffle
Comment[sv]=Liblzma-insticksprogram för Kerfuffle
Comment[th]=ส่วนเสริมของ Kerfuffle สำหรับใช้งานไลบรารี liblzma
Comment[tr]=Kerfuffle için liblzma eklentisi
Comment[uk]=Додаток liblzma для Kerfuffle
Comment[x-test]=xxliblzma plugin for Kerfufflexx
Comment[zh_CN]=Kerfuffle 的 liblzma 插件
Comment[zh_TW]=Kerfuffle 的 liblzma 外掛程式
MimeType=application/x-lzma;application/x-xz;
