<!DOCTYPE kpartgui>
<kpartgui name="ark_part" version="6">
<MenuBar>
	<Menu name="archive">
		<text>&amp;Archive</text>
		<Action name="ark_file_save_as" group="file_save"/>
		<Action name="add" group="archive_edit"/>
		<Action name="add-dir" group="archive_edit"/>
		<Action name="delete" group="archive_edit"/>
		<Action name="extract" group="archive_extract"/>
	</Menu>
	<Menu name="ark_file">
		<text>&amp;File</text>
		<Action name="preview"/>
		<Action name="openfile"/>
		<Action name="openfilewith"/>
		<Separator/>
		<Action name="extract_files"/>
	</Menu>
	<Menu name="settings">
		<text>&amp;Settings</text>
		<Action name="show-infopanel" group="settings_show"/>
	</Menu>
</MenuBar>
<ToolBar name="mainToolBar">
	<Action name="add"/>
	<Action name="add-dir"/>
	<Action name="delete"/>
	<Action name="toolbar_extract"/>
	<Action name="preview"/>
</ToolBar>
<Menu name="context_menu">
	<Action name="preview"/>
	<Action name="openfile"/>
	<Action name="openfilewith"/>
	<Separator/>
	<Action name="delete"/>
	<Action name="extract_files"/>
</Menu>
</kpartgui>
