[Desktop Entry]
Icon=utilities-file-archiver
Name=Archiver
Comment=Archive Handling Tool
X-KDE-ServiceTypes=Browser/View
X-KDE-Library=arkpart
Type=Service
