[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_karchive
X-KDE-PluginInfo-Author=Henrique Pinto
X-KDE-PluginInfo-Email=henrique.pinto@kdemail.net
X-KDE-PluginInfo-Name=kerfuffle_karchive
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv2
X-KDE-Priority=117
X-KDE-Kerfuffle-APIRevision=1
Name=kerfuffle_karchive
Name[sv]=Kerfuffle Karchive
Name[ta]=கெர்ஃபஃபில் கேஆர்கைவ்
Name[x-test]=xxkerfuffle_karchivexx
Comment=KArchive plugin for Kerfuffle
Comment[ar]=KArchive ملحق لـ Kerfuffle
Comment[ca]=Connector del KArchive pel Kerfuffle
Comment[da]=KArchive-plugin til Kerfuffle
Comment[de]=KArchive Modul für Kerfuffle
Comment[el]=πρόσθετο KArchive για τη Kerfuffle
Comment[es]=Complemento KArchive para Kerfuffle
Comment[et]=Kerfuffle'i KArchive plugin
Comment[fi]=KArchive-liitännäinen Kerfufflelle
Comment[fr]=Module KArchive pour Kerfuffle
Comment[ga]=Breiseán KArchive le haghaidh Kerfuffle
Comment[gl]=Extensión de KArchive para Kerfuffle
Comment[he]=תוסף KArchive  עבור Kerfuffle
Comment[hu]=KArchive Kerfuffle-modul
Comment[it]=Plugin KArchive per Kerfuffle
Comment[ja]=Kerfuffle のための KArchive プラグイン
Comment[km]=កម្មវិធី​របស់ KArchive សម្រាប់ Kerfuffle
Comment[ko]=Kerfuffle을 위한 KArchive 플러그인
Comment[lv]=Kerfuffle KArchive spraudnis
Comment[nb]=KArchive programtillegg for Kerfuffle
Comment[nds]=KArchive-Moduul för Kerfuffle
Comment[nl]=KArchive-plugin voor Kerfuffle
Comment[nn]=KArchive-programtillegg til Kerfuffle
Comment[pl]=Wtyczka KArchive dla Kerfuffle
Comment[pt]='Plugin' do KArchive para o Kerfuffle
Comment[pt_BR]=Plugin KArchive para a Kerfuffle
Comment[sl]=vstavek KArchive za Kerfuffle
Comment[sv]=Karchive-insticksprogram för Kerfuffle
Comment[ta]=கெர்ஃபஃபில் க்கு கேஆர்கைவ் சொருகி
Comment[tr]=Kerfuffle için KArchive eklentisi
Comment[uk]=Додаток KArchive для Kerfuffle
Comment[x-test]=xxKArchive plugin for Kerfufflexx
Comment[zh_CN]=Kerfuffle 的 KArchive 插件
Comment[zh_TW]=Kerfuffle 的 KArchive 外掛程式
MimeType=application/zip;application/x-zip-compressed;application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;
