[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_clilha
X-KDE-PluginInfo-Author=Theofilos Intzoglou
X-KDE-PluginInfo-Email=int.teo@gmail.com
X-KDE-PluginInfo-Name=kerfuffle_clilha
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=lha archive plugin
Name[es]=Complemento de archivo comprimido LHA
Name[nds]=LHA-Archievmoduul
Name[nl]=lha-archiefplug-in
Name[pt]='Plugin' de pacotes LHA
Name[pt_BR]=Plug-in de arquivos LHA
Name[sv]=Insticksprogram för LHA-arkiv
Name[uk]=Додаток для архівів LHA
Name[x-test]=xxlha archive pluginxx
MimeType=application/lha;application/x-lha;application/maclha;
