[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_libzip
X-KDE-PluginInfo-Author=Henrique Pinto
X-KDE-PluginInfo-Email=henrique.pinto@kdemail.net
X-KDE-PluginInfo-Name=kerfuffle_libzip
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=BSD
X-KDE-Priority=150
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_libzip
Name[sv]=Kerfuffle Libzip
Comment=libzip plugin for Kerfuffle
Comment[es]=Extensión libzip para Kerfuffle
Comment[ja]=Kerfuffle のための libzip プラグイン
Comment[pt]='Plugin' da 'libzip' para o Kerfuffle
Comment[pt_BR]='Plugin' da 'libzip' para o Kerfuffle
Comment[sv]=Libzip-insticksprogram för Kerfuffle
Comment[zh_TW]=Kerfuffle 的 libzip 外掛程式
MimeType=application/zip;application/x-zip-compressed;
