[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_libzip
X-KDE-PluginInfo-Author=Henrique Pinto
X-KDE-PluginInfo-Email=henrique.pinto@kdemail.net
X-KDE-PluginInfo-Name=kerfuffle_libzip
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=BSD
X-KDE-Priority=150
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_libzip
Name[sv]=Kerfuffle Libzip
Name[ta]=கெர்ஃபஃபில் லிப்ஜிப்
Name[x-test]=xxkerfuffle_libzipxx
Comment=libzip plugin for Kerfuffle
Comment[ar]=libzip ملحق لـ Kerfuffle
Comment[ca]=Connector del libzip pel Kerfuffle
Comment[da]=libzip-plugin til Kerfuffle
Comment[de]=libzip Modul für Kerfuffle
Comment[el]=πρόσθετο libzip για τη Kerfuffle
Comment[es]=Complemento libzip para Kerfuffle
Comment[et]=Kerfuffle'i libzip'i plugin
Comment[fi]=libzip-liitännäinen Kerfufflelle
Comment[fr]=Module libzip pour Kerfuffle
Comment[ga]=Breiseán libzip le haghaidh Kerfuffle
Comment[gl]=Extensión de libzip para Kerfuffle
Comment[he]=תוסף libzip  עבור Kerfuffle
Comment[hu]=Libzip Kerfuffle-modul
Comment[it]=Plugin libzip per Kerfuffle
Comment[ja]=Kerfuffle のための libzip プラグイン
Comment[km]=កម្មវិធីជំនួយ libzip សម្រាប់ Kerfuffle
Comment[ko]=Kerfuffle을 위한 libzip 플러그인
Comment[lv]=Kerfuffle libzip spraudnis
Comment[nb]=libzip pprogramtillegg for Kerfuffle
Comment[nds]=Libzip-Moduul för Kerfuffle
Comment[nl]=libzip-plugin voor Kerfuffle
Comment[nn]=libzip-programtillegg til Kerfuffle
Comment[pl]=wtyczka libzip dla Kerfuffle
Comment[pt]='Plugin' da 'libzip' para o Kerfuffle
Comment[pt_BR]=Plugin libzip para a Kerfuffle
Comment[sl]=vstavek libzip za Kerfuffle
Comment[sv]=Libzip-insticksprogram för Kerfuffle
Comment[ta]=கெர்ஃபஃபில் க்கு லிப்ஜிப் சொருகி
Comment[tr]=Kerfuffle için libzip eklentisi
Comment[uk]=Додаток libzip для Kerfuffle
Comment[x-test]=xxlibzip plugin for Kerfufflexx
Comment[zh_CN]=Kerfuffle 的 libzip 插件
Comment[zh_TW]=Kerfuffle 的 libzip 外掛程式
MimeType=application/zip;application/x-zip-compressed;
