[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_unace
X-KDE-PluginInfo-Author=Rafał Rzepecki
X-KDE-PluginInfo-Email=divided.mind@gmail.com
X-KDE-PluginInfo-Name=kerfuffle_unace
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=false
Name=unACE for Kerfuffle
Name[ga]=unACE le haghaidh Kerfuffle
Name[nds]=unACE för Kerfuffle
Name[pt]='Plugin' do unACE para o Kerfuffle
Name[pt_BR]='Plugin' do unACE para o Kerfuffle
Name[uk]=unACE для Kerfuffle
Name[x-test]=xxunACE for Kerfufflexx
Comment=plugin for unpacking ACE archives
Comment[ga]=breiseán a dhíphacálann cartlanna ACE
Comment[nds]=Moduul, dat ACE-Archiven utpackt
Comment[pt]='plugin' para abrir pacotes ACE
Comment[pt_BR]='plugin' para abrir pacotes ACE
Comment[uk]=Додаток для розпакування архівів ACE
Comment[x-test]=xxplugin for unpacking ACE archivesxx
MimeType=application/x-ace;
