[Desktop Entry]
MimeType=application/x-gzip;application/x-lha;application/x-tar;application/x-tgz;application/x-tbz;application/x-zip;application/x-bzip;application/x-tzo;application/x-lzop;application/x-rar;application/x-zoo;application/x-tarz;application/x-archive;application/x-bzip2
Comment=Archiving Tool
Name=Ark
Exec=ark -caption "%c" %i %m %U
Icon=ark
TerminalOptions=
Protocols=file;
Path=
DocPath=ark/index.html
Type=Application
Terminal=0
SwallowExec=
SwallowTitle=
BinaryPattern=ark;
X-DCOP-ServiceType=Unique
