[Desktop Entry]
MimeType=application/x-gzip;application/x-lha;application/x-tar;application/x-tgz;application/x-tbz;application/x-tbz2;application/x-zip;application/zip;application/x-bzip;application/x-tzo;application/x-lzop;application/x-rar;application/x-zoo;application/x-tarz;application/x-archive;application/x-bzip2;application/x-jar;application/x-deb;application/x-ace;application/x-7z;application/x-arc;application/x-arj;application/x-compress;application/x-cpio;application/x-pak;application/x-zip-compressed
GenericName=Archiving Tool
GenericName[af]=Argiveer Program
GenericName[ar]=أداة أرشفة
GenericName[bg]=Работа с архиви
GenericName[br]=Ostilh merañ an Dielloù
GenericName[bs]=Alat za arhiviranje
GenericName[ca]=Eina d'arxivament
GenericName[cs]=Archivační nástroj
GenericName[cy]=Erfyn Archifo 
GenericName[da]=Arkiveringsværktøj
GenericName[de]=Archivprogramm
GenericName[el]=Εργαλείο αρχειοθέτησης
GenericName[eo]=Arĥivilo
GenericName[es]=Archivador
GenericName[et]=Arhiivide haldamise rakendus
GenericName[eu]=Artxibaketa Tresna
GenericName[fa]=ابزار بایگانی
GenericName[fi]=Pakettienhallintatyökalu
GenericName[fr]=Outil de manipulation d'archives
GenericName[ga]=Uirlis Chartlannaithe
GenericName[he]=כלי לניהול ארכיונים
GenericName[hi]=अभिलेख औज़ार
GenericName[hr]=Uslužni program za arhiviranje
GenericName[hu]=Fájltömörítő
GenericName[is]=Vinna með safnskrár
GenericName[it]=Strumento di archiviazione
GenericName[ja]=アーカイバツール
GenericName[ka]=არქივებთან სამუშაო უტილიტა
GenericName[kk]=Архивтеу құралы
GenericName[km]=ឧបករណ៍​ប័ណ្ណសារ
GenericName[lt]=Archyvavimo priemonė
GenericName[lv]=Arhivēšanas Rīks
GenericName[mk]=Алатка за архивирање
GenericName[ms]=Alatan Pengarkiban
GenericName[mt]=Għodda tal-arkivji
GenericName[nb]=Arkiveringsverktøy
GenericName[nds]=Archivwarktüüch
GenericName[ne]=उपकरण सङ्ग्रह गर्दै
GenericName[nl]=Archiefgereedschap
GenericName[nn]=Arkiveringsverktøy
GenericName[pa]=ਪੁਰਾਲੇਖ ਸੰਦ
GenericName[pl]=Narzędzie do archiwizacji
GenericName[pt]=Ferramenta de Armazenamento
GenericName[pt_BR]=Ferramenta de Arquivamento
GenericName[ro]=Utilitar de arhivare
GenericName[ru]=Архиватор
GenericName[sk]=Archivačný nástroj
GenericName[sl]=Orodje za ravnanje z arhivi
GenericName[sr]=Алат за архивирање
GenericName[sr@Latn]=Alat za arhiviranje
GenericName[sv]=Arkiveringsverktyg
GenericName[ta]=காப்பக கருவி
GenericName[tg]=Асбобҳои Бойгонӣ
GenericName[th]=เครื่องมือจัดการแฟ้มบีบอัด
GenericName[tr]=Arşivleme Aracı
GenericName[uk]=Засіб роботи з архівами
GenericName[uz]=Arxivlash vositasi
GenericName[uz@cyrillic]=Архивлаш воситаси
GenericName[ven]=Tshishumiswa tsha fhethu huno vhulungelwa hone zwithu zwa kale
GenericName[vi]=Công cụ nén
GenericName[wa]=Usteye d' årtchivaedje
GenericName[xh]=Isixhobo Sokuphatha i Archive
GenericName[zh_CN]=文件压缩归档工具
GenericName[zh_TW]=壓縮工具
GenericName[zu]=Ithuluzi Lomqulu 
Name=Ark
Name[ar]=أرك
Name[eo]=Arĥivilo
Name[hi]=आर्क
Name[ne]=आर्क
Name[nso]=Areka 
Name[pa]=ਆਕ
Name[ta]=ஆர்க்
Name[th]=อาร์ค
Exec=ark -caption "%c" %i %m %U
Icon=ark
Path=
DocPath=ark/index.html
Type=Application
Terminal=false
SwallowExec=
SwallowTitle=
X-DCOP-ServiceType=Unique
X-KDE-HasTempFileOption=true
Categories=Qt;KDE;Utility;X-KDE-Utilities-File;
