[Desktop Entry]
Encoding=UTF-8
ServiceTypes=all/all
ExcludeServiceTypes=kdedevice/*
Actions=create_targz;create_tarbz2;create_zip
X-KDE-Submenu=Create Archive

[Desktop Action create_targz]
Name=gzip compressed (faster)
Name[bg]=Създаване на архиви Tar с помощта на gzip
Name[ca]=Crea arxiu tar gzip
Name[cs]=Vytvořit gzipovaný tar archív
Name[cy]=Creu Archif tar wedi'i gzipio
Name[da]=Lav gzippet tar-arkiv
Name[de]=tar.gz Archiv erstellen
Name[el]=Δημιουργία αρχειοθήκης tar.gz
Name[es]=Crear archivo tar.gz
Name[et]=Gzipitud arhiivi loomine
Name[fi]=Luo gzip pakattu tar-paketti
Name[fr]=Créer une archive gzip
Name[hi]=ग-जिप्ड टार अभिलेख बनाता है
Name[hu]=Gzip tar archívum létrehozása
Name[it]=Crea archivio Tar+Gzip
Name[nl]=Tar.gz-archief maken
Name[pl]=Stwórz archiwum tar skompresowane za pomocą gzip
Name[pt]=Criar um Pacote tar/gzip
Name[pt_BR]=Criar arquivo .tar.gz com gzip
Name[ro]=Creează o arhivă TAR comprimată cu GZip
Name[ru]=Создать сжатый архив TAR (.tar.gz)
Name[sk]=Vytvoriť gzipovaný Tar archív
Name[sl]=Ustvari arhiv Tar z gzip
Name[sr]=Направи gzip-овану tar архиву
Name[sv]=Skapa tar-arkiv komprimerat med gzip
Name[ta]=ஜிசுருக்கப்பட்ட டார் காப்பகத்தை உருவாக்கு
Name[tr]=gziplenmiş tar Arşivi Oluştur
Name[uk]=Архів tar стиснутий gzip
Name[uz]=Gzip билан қисилган Tar архивини яратиш
Name[wa]=Fé ene årtchive tar.gz
Name[xx]=xxCreate gzipped tar Archivexx
Name[zh_CN]=创建 gzip tar 压缩的存档
Icon=ark
Exec=ark --add --add-to .tar.gz %U

[Desktop Action create_tarbz2]
Name=bzip compressed (smaller)
Name[bg]=Създаване на архиви Tar с помощта на bzip
Name[ca]=Crea arxiu tar bzip
Name[cs]=Vytvořit bzipovaný tar archív
Name[cy]=Creu Archif tar wedi'i bzipio
Name[da]=Lav bzippet tar-arkiv
Name[de]=Mit bzip komprimiertes tar-Archiv erstellen
Name[el]=Δημιουργία αρχειοθήκης tar.bz2
Name[es]=Crear archivo tar.bz2
Name[et]=Bzipitud tar arhiivi loomine
Name[fi]=Luo bzip-pakattu tar-paketti
Name[fr]=Créer une archive tar bzipé
Name[hi]=ब-जिप्ड टार अभिलेख बनाता है
Name[hu]=Bzip tar archívum létrehozása
Name[it]=Crea archivio Tar+Bzip
Name[nl]=Tar.bz2-archief maken
Name[pl]=Stwórz archiwum tar skompresowane za pomocą bzip2
Name[pt]=Criar um Pacote tar/bzip
Name[pt_BR]=Criar pacote .tar com bzip
Name[ro]=Creează o arhivă TAR comprimată cu BZIP
Name[ru]=Создать сжатый архив TAR (.tar.bz2)
Name[sk]=Vytvoriť bzipovaný Tar archív
Name[sl]=Ustvari arhiv Tar z bzip
Name[sr]=Направи bzip-овану tar архиву
Name[sv]=Skapa tar-arkiv komprimerat med bzip
Name[ta]= பிசுருக்கப்பட்ட டார் காப்பகத்தை உருவாக்கு
Name[tr]=bziplenmiş tar Arşivi Oluştur
Name[uk]=Архів tar стиснутий bzip
Name[uz]=Bzip билан қисилган Tar архивини яратиш
Name[xx]=xxCreate bzipped tar Archivexx
Name[zh_CN]=创建 bzip tar 压缩的存档
Icon=ark
Exec=ark --add --add-to .tar.bz2 %U

[Desktop Action create_zip]
Name=zip compressed (legacy)
Name[bg]=Създаване на архиви Zip
Name[ca]=Crea arxiu zip
Name[cs]=Vytvořit ZIP archív
Name[cy]=Creu Archif zip
Name[da]=Lav zip-arkiv
Name[de]=Zip-Archiv erstellen
Name[el]=Δημιουργία αρχειοθήκης zip
Name[es]=Crear archivo zip
Name[et]=Zipitud arhiivi loomine
Name[fi]=Luo zip-paketti
Name[fr]=Créer une archive zip
Name[hi]=टार अभिलेख बनाता है
Name[hu]=Zip archívum létrehozása
Name[it]=Crea archivio Zip
Name[nl]=Zip-archief maken
Name[pl]=Stwórz archiwum zip
Name[pt]=Criar Arquivo zip
Name[pt_BR]=Criar arquivo .zip
Name[ro]=Creează o arhivă ZIP
Name[ru]=Создать архив ZIP
Name[sk]=Vytvoriť Zip archív
Name[sl]=Ustvari arhiv zip
Name[sr]=Направи zip архиву
Name[sv]=Skapa zip-arkiv
Name[ta]= சுருக்க காப்பகக் கோப்பை உருவாக்கு
Name[tr]=zip Arşivi Oluştur
Name[uk]=Створити zip архів
Name[uz]=Zip архивини яратиш
Name[wa]=Fé ene årtchive zip
Name[xx]=xxCreate zip Archivexx
Name[zh_CN]=创建 zip 存档
Icon=ark
Exec=ark --add --add-to .zip %U


