[Desktop Entry]
MimeType=application/x-gzip;application/x-lha;application/x-tar;application/x-tgz;application/x-tbz;application/x-tbz2;application/x-zip;application/x-bzip;application/x-tzo;application/x-lzop;application/x-rar;application/x-zoo;application/x-tarz;application/x-archive;application/x-bzip2;application/x-jar;application/x-deb;application/x-ace;application/x-7z;application/x-arc;application/x-arj;application/x-compress;application/x-cpio;application/x-pak
Comment=Archive Handling Tool
Comment[af]=Argief Handtering Program
Comment[ar]=أداة التعامل مع الملفات المضغوطة
Comment[az]=Arxiv İşləmə Vasitəsi
Comment[bg]=Работа с архиви
Comment[br]=Ostilh merañ an dielloù
Comment[bs]=Uslužni program za arhiviranje
Comment[ca]=Eina per a treballar amb arxius
Comment[cs]=Program pro práci s archívy
Comment[cy]=Erfyn Triniaeth Archif
Comment[da]=Arkivbehandlingsværktøj
Comment[de]=Archiv-Verwaltung
Comment[el]=Εργαλείο χειρισμού αρχειοθηκών
Comment[eo]=Administrilo por arĥivoj
Comment[es]=Herramienta para archivos comprimidos
Comment[et]=Arhiivide haldamise rakendus
Comment[eu]=Artxiboak Kudeatzeko tresna
Comment[fa]=ابزار گرداندن بایگانی
Comment[fi]=Pakettienhallintatyökalu
Comment[fr]=Outil de manipulation d'archives
Comment[ga]=Uirlis Láimhseála Cartlainne
Comment[gl]=Ferramenta de Manexo de Arquivos
Comment[he]=כלי לניהול ארכיונים
Comment[hi]=अभिलेख संभाल औज़ार
Comment[hr]=Uslužni program za arhiviranje
Comment[hu]=Tömörítóprogram
Comment[id]=Program bantu menangani archive
Comment[is]=Vinna með safnskrár
Comment[it]=Gestione degli archivi
Comment[ja]=アーカイバツール
Comment[ka]=არქივებთან სამუშაო ხელსაწყო
Comment[kk]=Архивпен айналысу құралы
Comment[km]=ឧបករណ៍​គ្រប់គ្រង​ប័ណ្ណសារ
Comment[lt]=Archyvo valdymo priemonė
Comment[lv]=Arhīvu Apstrādes Rīks
Comment[mk]=Алатка за справување со архивирани датотеки
Comment[ms]=Alatan Pengendalian Arkib
Comment[mt]=Għodda biex tuża l-arkivji
Comment[nb]=Arkivbehandlingsverktøy
Comment[nds]=En Warktüüch för de Archivpleeg
Comment[ne]=ह्यान्डलिङ उपकरण सङ्ग्रह गर्नुहोस्
Comment[nl]=Hulpprogramma voor het beheer van archieven
Comment[nn]=Verktøy for arkivhandsaming
Comment[pa]=ਪੁਰਾਲੇਖ ਬਣਾਉਣ ਸੰਦ
Comment[pl]=Program obsługi archiwów
Comment[pt]=Programa de gestão de arquivos
Comment[pt_BR]=Gerenciador de arquivos empacotados
Comment[ro]=Utilitar de manipulare arhive
Comment[ru]=Программа работы с архивами
Comment[sk]=Program na prácu s archívmi
Comment[sl]=Orodje za ravnanje z arhivi
Comment[sr]=Алат за руковање архивама
Comment[sr@Latn]=Alat za rukovanje arhivama
Comment[sv]=Verktyg för att hantera filarkiv
Comment[ta]= காப்பகத்தை கையாளும் கருவி
Comment[tg]=Асбобҳои Дасткории Бойгонӣ
Comment[th]=เครื่องมือจัดการแฟ้มบีบอัดทั้งหลาย
Comment[tr]=Arşiv İşleme Aracı
Comment[uk]=Засіб роботи з архівами
Comment[uz]=Arxiv uchun vosita
Comment[uz@cyrillic]=Архив учун восита
Comment[ven]=Tshishumiswa tshau fara tsha fhethu huno vhulungwa zwa kale
Comment[vi]=Công cụ xử lí các file nén 
Comment[wa]=Usteye po-z apougnî les årtchives
Comment[xh]=Isixhobo sokuphatha i Archive
Comment[zh_CN]=文件压缩归档处理工具
Comment[zh_TW]=壓縮檔案處理工具
Comment[zu]=Ithuluzi Lokuphatha Umqulu
Name=Archiver
Name[af]=Argifeerder
Name[ar]=الضاغط
Name[az]=Arxivci
Name[br]=Dieller
Name[bs]=Arhiver
Name[ca]=Arxivador
Name[cs]=Archivátor
Name[cy]=Archifydd
Name[da]=Arkivbehandler
Name[de]=Archivprogramm
Name[el]=Πρόγραμμα αρχειοθέτησης
Name[eo]=Arĥivilo
Name[es]=Archivador
Name[et]=Arhiveerija
Name[eu]=Artxibalaria
Name[fa]=بایگانی‌کننده
Name[fr]=Archiveur
Name[gl]=Arquivador
Name[he]=מנהל הארכיונים
Name[hi]=अभिलेखक
Name[hr]=Arhiver
Name[hu]=Ark fájltömörítő
Name[is]=Skráasafnari
Name[it]=Utilità di archiviazione
Name[ja]=アーカイバ
Name[ka]=არქივარიუსი
Name[kk]=Архивтегіш
Name[km]=កម្មវិធី​ប័ណ្ណសារ
Name[lt]=Archyvatorius
Name[lv]=Arhivators
Name[mk]=Архивер
Name[ms]=Pengarkib
Name[nb]=Arkivbehandler
Name[ne]=पुरालेखक
Name[nl]=Archiefgereedschap
Name[nn]=Arkiverar
Name[pa]=ਆਕੀਵਰ
Name[pl]=Ark
Name[pt]=Ark
Name[pt_BR]=Arquivador
Name[ro]=Arhivator
Name[ru]=Архиватор
Name[sk]=Archivátor
Name[sl]=Arhivar
Name[sr]=Архивер
Name[sr@Latn]=Arhiver
Name[sv]=Arkiverare
Name[ta]= காப்பகம்
Name[tg]=Бойгонигар
Name[th]=อาร์ไคว์ฟเออร์
Name[tr]=Arşivci
Name[uk]=Архіватор
Name[uz]=Arxivlagich
Name[uz@cyrillic]=Архивлагич
Name[ven]=Muvhulungi nwa zwithu zwa kale
Name[vi]=Luư trữ 
Name[wa]=Årtchiveu
Name[xh]=Umenzi woshicilelo lukawonke-wonke noxwebhu lweMbali
Name[zh_CN]=压缩存档工具
Name[zu]=Umqulu
Icon=ark
Type=Service
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libarkpart
