[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-gzip;application/x-lha;application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;application/zip;application/x-bzip;application/x-tzo;application/x-lzop;application/x-rar;application/x-zoo;application/x-tarz;application/x-archive;application/x-bzip;application/x-java-archive;application/x-deb
Comment=Archive Handling Tool
Comment[af]=Argief Handtering Program
Comment[br]=Ostilh merañ an dielloù
Comment[ca]=Eina per a treballar amb arxius
Comment[cs]=Program pro práci s archívy
Comment[cy]=Erfyn Triniaeth Archif
Comment[da]=Arkivbehandlingsværktøj
Comment[de]=Archiv-Verwaltung
Comment[el]=Εργαλείο χειρισμού αρχειοθηκών
Comment[eo]=Administrilo por arĥivoj
Comment[es]=Herramienta de gestión de archivos
Comment[et]=Arhiivide haldamise rakendus
Comment[eu]=Artxiboak Kudeatzeko tresna
Comment[fa]=ابزار گرداندن بایگانی
Comment[fi]=Pakettienhallintatyökalu
Comment[fr]=Outil de manipulation d'archives
Comment[ga]=Uirlis Láimhseála Cartlainne
Comment[gl]=Ferramenta de Manexo de Arquivos
Comment[he]=כלי לניהול ארכיונים
Comment[hr]=Uslužni program za arhiviranje
Comment[hu]=Tömörítóprogram
Comment[is]=Vinna með safnskrár
Comment[it]=Gestione degli archivi
Comment[ja]=アーカイバツール
Comment[kk]=Архивпен айналысу құралы
Comment[km]=ឧបករណ៍​គ្រប់គ្រង​ប័ណ្ណសារ
Comment[lt]=Archyvo valdymo priemonė
Comment[lv]=Arhīvu Apstrādes Rīks
Comment[mk]=Алатка за справување со архивирани датотеки
Comment[ms]=Alatan Pengendalian Arkib
Comment[nb]=Arkivbehandlingsverktøy
Comment[nds]=En Warktüüch för de Archivpleeg
Comment[ne]=ह्यान्डलिङ उपकरण सङ्ग्रह गर्नुहोस्
Comment[nl]=Hulpprogramma voor het beheer van archieven
Comment[nn]=Verktøy for arkivhandsaming
Comment[pa]=ਅਕਾਇਵ ਬਣਾਉਣ ਸੰਦ
Comment[pl]=Program obsługi archiwów
Comment[pt]=Programa de gestão de arquivos
Comment[pt_BR]=Gerenciador de arquivos empacotados
Comment[ro]=Utilitar de manipulare arhive
Comment[ru]=Утилита работы с архивами
Comment[sl]=Orodje za ravnanje z arhivi
Comment[sr]=Алат за руковање архивама
Comment[sr@latin]=Alat za rukovanje arhivama
Comment[sv]=Verktyg för att hantera filarkiv
Comment[ta]= காப்பகத்தை கையாளும் கருவி
Comment[tg]=Асбобҳои Дасткории Бойгонӣ
Comment[tr]=Arşiv İşleme Aracı
Comment[uk]=Засіб роботи з архівами
Comment[uz]=Архив учун восита
Comment[wa]=Usteye po-z apougnî les årtchives
Comment[x-test]=xxArchive Handling Toolxx
Comment[xh]=Isixhobo sokuphatha i Archive
Comment[zh_TW]=壓縮檔案處理工具
Name=Archiver
Name[af]=Argifeerder
Name[br]=Dieller
Name[ca]=Arxivador
Name[cs]=Archivátor
Name[cy]=Archifydd
Name[da]=Arkivbehandler
Name[de]=Archivprogramm
Name[el]=Πρόγραμμα αρχειοθέτησης
Name[eo]=Arĥivilo
Name[es]=Archivador
Name[et]=Arhiveerija
Name[eu]=Artxibalaria
Name[fa]=بایگانی‌کننده
Name[fr]=Archiveur
Name[gl]=Arquivador
Name[he]=מנהל הארכיונים
Name[hr]=Arhiver
Name[hu]=Ark fájltömörítő
Name[is]=Skráasafnari
Name[it]=Utilità di archiviazione
Name[ja]=アーカイバ
Name[kk]=Архивтегіш
Name[km]=កម្មវិធី​ប័ណ្ណសារ
Name[lt]=Archyvatorius
Name[lv]=Arhivators
Name[mk]=Архивер
Name[ms]=Pengarkib
Name[nb]=Arkivbehandler
Name[ne]=पुरालेखक
Name[nl]=Archiefgereedschap
Name[nn]=Arkiverar
Name[pa]=ਆਕੀਵਰ
Name[pl]=Ark
Name[pt]=Ark
Name[pt_BR]=Arquivador
Name[ro]=Arhivator
Name[ru]=Архиватор
Name[sl]=Arhivar
Name[sr]=Архивер
Name[sr@latin]=Arhiver
Name[sv]=Arkiverare
Name[ta]= காப்பகம்
Name[tg]=Бойгонигар
Name[tr]=Arşivci
Name[uk]=Архіватор
Name[uz]=Архивлагич
Name[wa]=Årtchiveu
Name[x-test]=xxArchiverxx
Name[xh]=Umenzi woshicilelo lukawonke-wonke noxwebhu lweMbali
Exec=ark -caption "%c" %U
Icon=ark
Path=
DocPath=ark/index.html
Type=Service
Terminal=false
SwallowExec=
SwallowTitle=
ServiceTypes=Browser/View
X-KDE-Library=libarkpart
