[Desktop Entry]
ServiceTypes=application/x-gzip,application/x-lha,application/x-tar,application/x-tgz,application/x-tbz,application/x-zip,application/x-bzip,application/x-tzo,application/x-lzop,application/x-rar,application/x-zoo,application/x-tarz,application/x-archive,application/x-bzip2
Actions=Extract
 
[Desktop Action Extract]
Name=Extract here...
Exec=ark -extract %U
