[Desktop Entry]
Encoding=UTF-8
ServiceTypes=application/x-gzip,application/x-lha,application/x-tar,application/x-tgz,application/x-tbz,application/x-zip,application/x-bzip,application/x-tzo,application/x-lzop,application/x-rar,application/x-zoo,application/x-tarz,application/x-archive,application/x-bzip2,application/x-jar,application/x-deb
Actions=Extract;ExtractHere

[Desktop Action Extract]
Name=Extract To...
Name[ca]=Extreure a...
Name[cs]=Rozbalit do...
Name[da]=Udpak til...
Name[de]=Entpacken nach...
Name[es]=Extraer en...
Name[fr]=Extraire dans...
Name[hu]=Kitömörítés ide...
Name[pt_BR]=Extrair para ...
Name[ru]=Распаковать в...
Name[sv]=Packa upp här...
Name[xx]=xxExtract To...xx
Exec=ark --extract %U

[Desktop Action ExtractHere]
Name=Extract Here
Name[ca]=Extreu aquí
Name[da]=Udpak her
Name[de]=Hierher entpacken
Name[es]=Extraer aquí...
Name[fr]=Extraire ici
Name[hu]=Kitömörítés itt
Name[pt_BR]=Extrair aqui
Name[ru]=Распаковать сюда
Name[sv]=Packa upp här
Name[xx]=xxExtract herexx
Exec=ark --guess-name --extract-to . %u
