[Desktop Entry]
Encoding=UTF-8
ServiceTypes=application/x-gzip,application/x-lha,application/x-tar,application/x-tgz,application/x-tbz,application/x-zip,application/x-bzip,application/x-tzo,application/x-lzop,application/x-rar,application/x-zoo,application/x-tarz,application/x-archive,application/x-bzip2,application/x-jar,application/x-deb
Actions=Extract;ExtractHere

[Desktop Action Extract]
Name=Extract To...
Name[ca]=Extreure a...
Name[cs]=Rozbalit do...
Name[da]=Udpak til...
Name[es]=Extraer en...
Name[fr]=Extraire dans...
Name[pt_BR]=Extrair para ...
Name[ru]=Распаковать в...
Name[sv]=Packa upp här...
Exec=ark --extract %U

[Desktop Action ExtractHere]
Name=Extract here
exec=ark --guess-name --extract-to . %u
