[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_clirar
X-KDE-PluginInfo-Author=Harald Hvaal
X-KDE-PluginInfo-Email=haraldhv@stud.ntnu.no
X-KDE-PluginInfo-Name=kerfuffle_clirar
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv2
X-KDE-Priority=80
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=RAR archive plugin
Name[es]=Complemento de archivo comprimido RAR
Name[et]=RAR-arhiivi plugin
Name[ga]=Breiseán cartlainne RAR
Name[ja]=RAR アーカイブ用プラグイン
Name[nds]=RAR-Archievmoduul
Name[pt]='Plugin' de pacotes RAR
Name[pt_BR]=Plug-in de arquivos RAR
Name[sv]=Insticksprogram för RAR-arkiv
Name[uk]=Додаток для архівів RAR
Name[zh_TW]=RAR 壓縮檔外掛程式
MimeType=application/x-rar;
