[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_libarchive
X-KDE-PluginInfo-Author=Henrique Pinto
X-KDE-PluginInfo-Email=henrique.pinto@kdemail.net
X-KDE-PluginInfo-Name=kerfuffle_libarchive
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=BSD
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
Name=kerfuffle_libarchive
Name[sv]=Kerfuffle Libarchive
Name[ta]=கெர்ஃபஃபில் லிப்ஆர்கைவ்
Name[x-test]=xxkerfuffle_libarchivexx
Comment=LibArchive Plugin for Kerfuffle
Comment[ar]=LibArchive ملحق لـ Kerfuffle
Comment[ca]=Connector del LibArchive pel Kerfuffle
Comment[da]=LibArchive-plugin til Kerfuffle
Comment[de]=LibArchive Modul für Kerfuffle
Comment[el]=πρόσθετο LibArchive για τη Kerfuffle
Comment[es]=Complemento LibArchive para Kerfuffle
Comment[et]=Kerfuffle'i LibArchive plugin
Comment[fi]=LibArchive-liitännäinen Kerfufflelle
Comment[fr]=Module LibArchive pour Kerfuffle
Comment[ga]=Breiseán LibArchive le haghaidh Kerfuffle
Comment[gl]=Extension de libarchive para Kerfuffle
Comment[he]=תוסף LibArchive  עבור Kerfuffle
Comment[hu]=LibArchive Kerfuffle-modul
Comment[it]=Plugin LibArchive per Kerfuffle
Comment[ja]=Kerfuffle のための LibArchive プラグイン
Comment[km]=កម្មវិធី​ជំនួយ LibArchive សម្រាប់ Kerfuffle
Comment[ko]=Kerfuffle을 위한 LibArchive 플러그인
Comment[lv]=Kerfuffle LibArchive spraudnis
Comment[nb]=LibArchive programtillegg for Kerfuffle
Comment[nds]=LibArchive-Moduul för Kerfuffle
Comment[nl]=LibArchive-plugin voor Kerfuffle
Comment[pl]=Wtyczka libArchive dla Kerfuffle
Comment[pt]='Plugin' de LibArchive para o Kerfuffle
Comment[pt_BR]=Plugin LibArchive para a Kerfuffle
Comment[sl]=vstavek LibArchive za Kerfuffle
Comment[sv]=Libarchive-insticksprogram för Kerfuffle
Comment[ta]=கெர்ஃபஃபில் க்கு லிப்ஆர்கைவ் சொருகி
Comment[tr]=Kerfuffle için  LibArchive eklentisi
Comment[uk]=Додаток LibArchive для Kerfuffle
Comment[x-test]=xxLibArchive Plugin for Kerfufflexx
Comment[zh_CN]=Kerfuffle 的 LibArchive 插件
Comment[zh_TW]=Kerfuffle 的 LibArchive 外掛程式
MimeType=application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;application/x-tarz;
