[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_libarchive
X-KDE-PluginInfo-Author=Henrique Pinto
X-KDE-PluginInfo-Email=henrique.pinto@kdemail.net
X-KDE-PluginInfo-Name=kerfuffle_libarchive
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=BSD
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
Name=kerfuffle_libarchive
Name[sv]=Kerfuffle Libarchive
Name[ta]=கெர்ஃபஃபில் லிப்ஆர்கைவ்
Comment=LibArchive Plugin for Kerfuffle
Comment[es]=Extensión LibArchive para Kerfuffle
Comment[he]=תוסף LibArchive  עבור Kerfuffle
Comment[ja]=Kerfuffle のための LibArchive プラグイン
Comment[pt]='Plugin' de LibArchive para o Kerfuffle
Comment[pt_BR]='Plugin' de LibArchive para o Kerfuffle
Comment[sv]=Libarchive-insticksprogram för Kerfuffle
Comment[ta]=கெர்ஃபஃபில் க்கு லிப்ஆர்கைவ் சொருகி
Comment[zh_TW]=Kerfuffle 的 LibArchive 外掛程式
MimeType=application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;application/x-tarz;
