[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kerfuffle/Plugin
Comment=Plugin for handling of archive formats for the Kerfuffle library
Comment[ar]=ملحق للتحكم بهيئات اﻷرشيف لمكتبة Kerfuffle
Comment[ca]=Connector per gestionar els formats d'arxiu per la biblioteca Kerfuffle
Comment[da]=Plugin til håndtering af arkivformater til Kerfuffle-biblioteket
Comment[de]=Modul zum Umgang mit Archivformaten der Kerfuffle Bibliothek
Comment[el]=Πρόσθετο χειρισμού μορφών αρχειοθήκης για τη βιβλιοθήκη Kerfuffle
Comment[es]=Complemento para manejar formatos de archivo de la biblioteca Kerfuffle
Comment[et]=Kerfuffle'i teegi arhiivifailide haldamise plugin
Comment[fi]=Liitännäinen eri arkistoformaattien käsittelyä varten
Comment[fr]=Module de gestion des formats d'archive pour la bibliothèque Kerfuffle
Comment[ga]=Breiseán a láimhseálann formáidí cartlainne thar ceann na leabharlainne Kerfuffle
Comment[gl]=Extensión da biblioteca Kerfuffle para manexar formatos de arquivo
Comment[he]=תוסף לניהול פורמטי ארכיונים לספריית Kerfuffle 
Comment[hu]=Archívumkezelő modul a Kerfuffle programkönyvtárhoz
Comment[it]=Plugin per gestire formati di archivio per la libreria Kerfuffle
Comment[ja]=Kerfuffle ライブラリのアーカイブ形式を扱うプラグイン
Comment[km]=កម្មវិធីជំនួយ​សម្រាប់​គ្រប់គ្រង​ទ្រង់ទ្រាយ​ប័ណ្ណសារ​សម្រាប់​បណ្ណាល័យ Kerfuffle
Comment[ko]=Kerfuffle 라이브러리를 위한 압축 파일 플러그인
Comment[lv]=Arhīva failu tipu izmantošanas spraudnis Kerfuffle bibliotēkai.
Comment[nb]=Progamtillegg som håndterer arkivformater, for Kerfuffle-biblioteket
Comment[nds]=Archivformaten-Moduul för de Kerfuffle-Bibliotheek
Comment[nl]=Plugin voor het afhandelen van archiefformaten voor de Kerfuffle-bibliotheek
Comment[pl]=Wtyczka do obsługi formatów archiwów w bibliotece Kerfuffle
Comment[pt]='Plugin' para lidar com os formatos de pacotes da biblioteca Kerfuffle
Comment[pt_BR]=Plugin para a manipulação de formatos de arquivo, para a biblioteca Kerfuffle
Comment[sl]=Vstavek za uporabljanje arhivskih formatov knjižnice Kerfuffle
Comment[sv]=Insticksprogram för hantering av arkivformat för Kerfuffle-biblioteket
Comment[ta]=கெர்ஃபஃபில் ஃ நூலகத்துக்கு காப்பக வடிவமைப்பை கையாள சொருகிகள்
Comment[tr]=Kerfuffle kütüphanesi için arşiv biçimleri eklentileri
Comment[uk]=Додаток для роботи з форматами архівів для бібліотеки Kerfuffle
Comment[x-test]=xxPlugin for handling of archive formats for the Kerfuffle libraryxx
Comment[zh_CN]=Kerfuffle 库的压缩归档格式处理插件
Comment[zh_TW]=處理 Kerfuffle 函式庫壓縮格式的外掛程式

# Priority. The greater the better.
[PropertyDef::X-KDE-Priority]
Type=int

# Revision of the plugin API.
[PropertyDef::X-KDE-Kerfuffle-APIRevision]
Type=int

# Is the plugin read-write or not? (i.e., can it create archives?)
[PropertyDef::X-KDE-Kerfuffle-ReadWrite]
Type=bool


