[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_libxz
X-KDE-PluginInfo-Author=Raphael Kubo da Costa
X-KDE-PluginInfo-Email=kubito@gmail.com
X-KDE-PluginInfo-Name=kerfuffle_libxz
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=BSD
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
#X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_libxz
Name[sv]=Kerfuffle Libxz
Comment=libxz plugin for Kerfuffle
Comment[de]=libxz-Modul für Kerfuffle
Comment[el]=πρόσθετο libxz για τo Kerfuffle
Comment[es]=Complemento libxz para Kerfuffle
Comment[et]=Kerfuffle'i libxz plugin
Comment[pt]='Plugin' da 'libxz' para o Kerfuffle
Comment[pt_BR]=Plug-in libxz para o Kerfuffle
Comment[sv]=Libxz-insticksprogram för Kerfuffle
Comment[tr]=Kerfuffle için libxz eklentisi
Comment[uk]=Додаток libxz для Kerfuffle
MimeType=application/x-lzma;application/x-xz;
