[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_libbz2
X-KDE-PluginInfo-Author=Raphael Kubo da Costa
X-KDE-PluginInfo-Email=kubito@gmail.com
X-KDE-PluginInfo-Name=kerfuffle_libbz2
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=BSD
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
#X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_libbz2
Name[sv]=Kerfuffle Libbz2
Name[x-test]=xxkerfuffle_libbz2xx
Comment=libbz2 plugin for Kerfuffle
Comment[ar]=ملحق libbz2 لـ Kerfuffle
Comment[ca]=Connector del libbz2 pel Kerfuffle
Comment[cs]=libbz2 modul pro Kerfuffle
Comment[da]=libbz2-plugin til Kerfuffle
Comment[de]=libgz2-Modul für Kerfuffle
Comment[el]=πρόσθετο libz2 για τo Kerfuffle
Comment[es]=Complemento libbz2 para Kerfuffle
Comment[et]=Kerfuffle'i libbz2 plugin
Comment[fr]=Module libbz2 pour Kerfuffle
Comment[is]=libbz2 íforrit fyrir Kerfuffle
Comment[it]=Plugin libbz2 per Kerfuffle
Comment[km]=កម្មវិធី​ជំនួយ libbz2 សម្រាប់ Kerfuffle
Comment[lv]=Kerfuffle libz2 spraudnis
Comment[nb]=libbz2 pprogramtillegg for Kerfuffle
Comment[nds]=Libbz2-Moduul för Kerfuffle
Comment[nl]=libbz2 plugin voor Kerfuffle
Comment[nn]=libzip2-programtillegg til Kerfuffle
Comment[pt]='Plugin' da 'libbz2' para o Kerfuffle
Comment[pt_BR]=Plug-in libbz2 para o Kerfuffle
Comment[ro]=Modul libbz2 pentru Kerfuffle
Comment[ru]=Модуль libbz2 для Kerfuffle
Comment[sk]=libbz2 modul pre Kerfuffle
Comment[sl]=Vstavek libbz2 za Kerfuffle
Comment[sr]=Прикључак libbz2 за Керфафл
Comment[sr@latin]=Priključak libbz2 za Kerfuffle
Comment[sv]=Libbz2-insticksprogram för Kerfuffle
Comment[tr]=Kerfuffle için libbz2 eklentisi
Comment[uk]=Додаток libbz2 для Kerfuffle
Comment[x-test]=xxlibbz2 plugin for Kerfufflexx
Comment[zh_CN]=Kerfuffle 的 libbz2 插件
Comment[zh_TW]=Kerfuffle 的 libbz2 外掛程式
MimeType=application/x-bzip;
