[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_bk
X-KDE-PluginInfo-Author=Henrique Pinto
X-KDE-PluginInfo-Email=henrique.pinto@kdemail.net
X-KDE-PluginInfo-Name=kerfuffle_bk
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv2
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_bk
Name[sv]=Kerfuffle Bk
Name[ta]=கெர்ஃபஃபில் பிகே
Name[x-test]=xxkerfuffle_bkxx
Comment=bkisofs plugin for Kerfuffle
Comment[el]=πρόσθετο bkisofs για τη Kerfuffle
Comment[es]=Extensión bkisofs para Kerfuffle
Comment[he]=תוסף bkisofs עבור Kerfuffle
Comment[ja]=Kerfuffle のための bkisofs プラグイン
Comment[ko]=Kerfuffle을 위한 bkisofs 플러그인
Comment[nl]=bkisofs-plugin voor Kerfuffle
Comment[pt]='Plugin' do bkisofs para o Kerfuffle
Comment[pt_BR]='Plugin' do bkisofs para o Kerfuffle
Comment[sv]=Bkisofs-insticksprogram för Kerfuffle
Comment[ta]=கெர்ஃபஃபில் க்கு பிகேஐஸோஎப்எஸ்(bkisofs) சொருகி
Comment[x-test]=xxbkisofs plugin for Kerfufflexx
Comment[zh_CN]=Kerfuffle 的 bkisofs 插件
Comment[zh_TW]=Kerfuffle 的 bkisofs 外掛程式
MimeType=application/x-cd-image;
