[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_bk
X-KDE-PluginInfo-Author=Henrique Pinto
X-KDE-PluginInfo-Email=henrique.pinto@kdemail.net
X-KDE-PluginInfo-Name=kerfuffle_bk
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv2
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_bk
Name[sv]=Kerfuffle Bk
Comment=bkisofs plugin for Kerfuffle
Comment[es]=Extensión bkisofs para Kerfuffle
Comment[he]=תוסף bkisofs עבור Kerfuffle
Comment[ja]=Kerfuffle のための bkisofs プラグイン
Comment[pt]='Plugin' do bkisofs para o Kerfuffle
Comment[pt_BR]='Plugin' do bkisofs para o Kerfuffle
Comment[sv]=Bkisofs-insticksprogram för Kerfuffle
Comment[zh_TW]=Kerfuffle 的 bkisofs 外掛程式
MimeType=application/x-cd-image;
