[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_bk
X-KDE-PluginInfo-Author=Henrique Pinto
X-KDE-PluginInfo-Email=henrique.pinto@kdemail.net
X-KDE-PluginInfo-Name=kerfuffle_bk
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv2
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_bk
Name[sv]=Kerfuffle Bk
Name[ta]=கெர்ஃபஃபில் பிகே
Name[x-test]=xxkerfuffle_bkxx
Comment=bkisofs plugin for Kerfuffle
Comment[ar]=bkisofs ملحق لـ Kerfuffle
Comment[ca]=Connector del bkisofs pel Kerfuffle
Comment[da]=bkisofs-plugin til Kerfuffle
Comment[de]=bkisofs Modul für Kerfuffle
Comment[el]=πρόσθετο bkisofs για τη Kerfuffle
Comment[es]=Complemento bkisofs para Kerfuffle
Comment[et]=Kerfuffle'i bkisofs'i plugin
Comment[fi]=bkisofs-liitännäinen Kerfufflelle
Comment[fr]=Module bkisofs pour Kerfuffle
Comment[ga]=Breiseán bkisofs le haghaidh Kerfuffle
Comment[gl]=Extensión de bkisofs para Kerfuffle
Comment[he]=תוסף bkisofs עבור Kerfuffle
Comment[hu]=Bkisofs Kerfuffle-modul
Comment[it]=Plugin bkisofs per Kerfuffle
Comment[ja]=Kerfuffle のための bkisofs プラグイン
Comment[km]=កម្មវិធី​ជំនួយ bkisofs សម្រាប់ Kerfuffle
Comment[ko]=Kerfuffle을 위한 bkisofs 플러그인
Comment[lv]=Kerfuffle bkisofs spraudnis
Comment[nb]=bkisofs programtillegg for Kerfuffle
Comment[nds]=Bkisofs-Moduul för Kerfuffle
Comment[nl]=bkisofs-plugin voor Kerfuffle
Comment[nn]=bkisofs-programtillegg til Kerfuffle
Comment[pl]=Wtyczka bkisofs dla Kerfuffle
Comment[pt]='Plugin' do bkisofs para o Kerfuffle
Comment[pt_BR]=Plugin bkisofs para a Kerfuffle
Comment[sl]=vstavek bkisofs za Kerfuffle
Comment[sv]=Bkisofs-insticksprogram för Kerfuffle
Comment[ta]=கெர்ஃபஃபில் க்கு பிகேஐஸோஎப்எஸ்(bkisofs) சொருகி
Comment[tr]=Kerfuffle için bkisofs eklentisi
Comment[uk]=Додаток bkisofs для Kerfuffle
Comment[x-test]=xxbkisofs plugin for Kerfufflexx
Comment[zh_CN]=Kerfuffle 的 bkisofs 插件
Comment[zh_TW]=Kerfuffle 的 bkisofs 外掛程式
MimeType=application/x-cd-image;
