[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_libgz
X-KDE-PluginInfo-Author=Harald Hvaal
X-KDE-PluginInfo-Email=haraldhv@stud.ntnu.no
X-KDE-PluginInfo-Name=kerfuffle_libgz
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=BSD
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_libgz
Name[sv]=Kerfuffle Libgz
Name[x-test]=xxkerfuffle_libgzxx
Comment=libgz plugin for Kerfuffle
Comment[el]=πρόσθετο libgz για τη Kerfuffle
Comment[es]=Complemento libgz para Kerfuffle
Comment[et]=Kerfuffle'i libgz plugin
Comment[fr]=Module libgz pour Kerfuffle
Comment[gl]=Extensión de libgz para Kerfuffle
Comment[ja]=Kerfuffle のための libgz プラグイン
Comment[km]=កម្មវិធី​ជំនួយ libgz សម្រាប់ Kerfuffle
Comment[lv]=Kerfuffle libgz spraudnis
Comment[nb]=libgz pprogramtillegg for Kerfuffle
Comment[nds]=Libgz-Moduul för Kerfuffle
Comment[nl]=libgz-plugin voor Kerfuffle
Comment[pt]='Plugin' da 'libgz' para o Kerfuffle
Comment[pt_BR]=Plug-in libgz para a Kerfuffle
Comment[ro]=Modul libgz pentru Kerfuffle
Comment[sv]=Libgz-insticksprogram för Kerfuffle
Comment[th]=ส่วนเสริมของ Kerfuffle สำหรับใช้งานไลบรารี libgz
Comment[tr]=Kerfuffle için libgz eklentisi
Comment[uk]=Додаток libgz для Kerfuffle
Comment[x-test]=xxlibgz plugin for Kerfufflexx
Comment[zh_CN]=Kerfuffle 的 libgz 插件
Comment[zh_TW]=Kerfuffle 的 libgz 外掛程式
MimeType=application/x-gzip;
