[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqDndPopupMenu/Plugin
X-KDE-Library=libextracthere
Name=Ark Extract Here
MimeType=application/x-compressed-tar;
