[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-gzip;application/x-lha;application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;application/zip;application/x-bzip;application/x-tzo;application/x-lzop;application/x-rar;application/x-zoo;application/x-tarz;application/x-archive;application/x-bzip2;application/x-jar;application/x-deb;application/x-ace;application/x-7z-compressed;application/x-arc;application/x-arj;application/x-compress;application/x-cpio;application/x-pak;application/x-zip-compressed;
Actions=arkAutoExtractHere;arkExtractTo;arkExtractHere;
#X-KDE-Submenu=Extract me beautiful
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
#StartupNotify=false

[Desktop Action arkExtractHere]
Name=Extract archive here
Name[bg]=Извличне тук
Name[ca]=Extreu l'arxiu aquí
Name[da]=Udpak arkiv her
Name[de]=Archiv hierher auspacken
Name[el]=Εξαγωγή αρχειοθήκης εδώ
Name[es]=Extraer archivo aquí
Name[et]=Paki arhiiv siia lahti
Name[eu]=Erauzi artxibua hemen
Name[fr]=Extraire ici
Name[ga]=Bain an chartlann amach agus cuir é anseo
Name[gl]=Extrair o arquivo aquí
Name[hne]=अभिलेख इहां निकालव
Name[it]=Estrai l'archivio qui
Name[ja]=アーカイブをここに展開
Name[km]=ស្រង់​ប័ណ្ណសារ​ចេញ​នៅ​ទីនេះ
Name[ko]=여기에 풀기
Name[lv]=Atspiest arhīvu šeit
Name[nb]=Pakk ut arkivet her
Name[nds]=Archiev hier utpacken
Name[nl]=Archief hier uitpakken
Name[pa]=ਅਕਾਇਵ ਇੱਥੇ ਖੋਲ੍ਹੋ
Name[pt]=Extrair o pacote para aqui
Name[pt_BR]=Extrair arquivo aqui
Name[ro]=Extrage arhiva aici
Name[ru]=Распаковать в эту папку
Name[sl]=Izvleci arhiv sem
Name[sr]=Распакуј архиву овде
Name[sr@latin]=Raspakuj arhivu ovde
Name[sv]=Packa upp arkiv här
Name[th]=คลายแฟ้มจัดเก็บไว้ที่นี่
Name[tr]=Arşivi Buraya Aç
Name[uk]=Видобути архів сюди
Name[x-test]=xxExtract archive herexx
Name[zh_CN]=在此解压缩归档
Name[zh_TW]=在此解壓縮
Icon=utilities-file-archiver
Exec=ark --batch --autodestination %F

[Desktop Action arkExtractTo]
Name=Extract archive to...
Name[bg]=Извличане в...
Name[ca]=Extreu l'arxiu a...
Name[da]=Udpak arkiv til...
Name[de]=Archiv auspacken nach...
Name[el]=Εξαγωγή αρχειοθήκης σε...
Name[es]=Extraer archivo en...
Name[et]=Paki arhiiv lahti...
Name[eu]=Erauzi artxibua hona...
Name[fr]=Extraire vers...
Name[ga]=Bain an chartlann amach go...
Name[gl]=Extrair o arquivo en...
Name[hne]=अभिलेख इहां निकालव...
Name[it]=Estrai l'archivio in...
Name[ja]=アーカイブを展開...
Name[km]=ស្រង់​ប័ណ្ណសារ​ចេញ​ទៅ...
Name[ko]=다음에 풀기...
Name[lv]=Atspiest arhīvu uz...
Name[nb]=Pakk ut arkivet til …
Name[nds]=Archiev utpacken as...
Name[nl]=Archief uitpakken naar...
Name[pa]=...ਵਜੋਂ ਅਕਾਇਵ ਐਕਸਟਰੈਕਟ
Name[pt]=Extrair o pacote para...
Name[pt_BR]=Extrair arquivo para...
Name[ro]=Extrage arhiva în...
Name[ru]=Распаковать в...
Name[sl]=Izvleci arhiv v ...
Name[sr]=Распакуј архиву у...
Name[sr@latin]=Raspakuj arhivu u...
Name[sv]=Packa upp arkiv i...
Name[th]=คลายแฟ้มจัดเก็บไปยัง...
Name[tr]=Arşivi Farklı Bir Konuma Aç...
Name[uk]=Видобути архів до...
Name[x-test]=xxExtract archive to...xx
Name[zh_CN]=解压缩归档到...
Name[zh_TW]=解壓縮到...
Icon=utilities-file-archiver
Exec=ark --batch --autodestination --dialog %F

[Desktop Action arkAutoExtractHere]
Name=Extract archive here, autodetect subfolder
Name[bg]=Извличане тук, автоматична поддиректория
Name[ca]=Extreu l'arxiu aquí, detecta automàticament la subcarpeta
Name[da]=Udpak arkiv her, find automatisk undermappe
Name[de]=Archiv hierher auspacken, Unterordner selbstständig ermitteln
Name[el]=Εξαγωγή αρχειοθήκης εδώ, αυτόματη επιλογή υποφακέλου
Name[es]=Extraer archivo aquí, autodetectar subcarpeta
Name[et]=Paki arhiiv siia lahti, tuvasta automaatselt alamkataloog
Name[eu]=Erauzi artxibua hona, autodetektatu azpikarpeta
Name[fr]=Extraire l'archive ici, auto-détection des sous-dossiers
Name[ga]=Bain an chartlann amach agus cuir é anseo, braith fofhillteán go huathoibríoch
Name[gl]=Extrair o arquivo aquí, detectar o subcartafol
Name[hne]=अभिलेख इहां निकालव, सब-फोल्डर खुद पता लगाव
Name[it]=Estrai l'archivio qui, autorileva la sottocartella
Name[ja]=アーカイブをここに展開、サブフォルダを自動検出
Name[km]=ស្រង់​ប័ណ្ណសារ​ចេញ​នៅ​ទីនេះ រក​ឃើញ​ថត​រង​ដោយ​ស្វ័យ​ប្រវត្តិ
Name[ko]=하위 폴더를 감지해서 여기에 풀기
Name[lv]=Atspiest arhīvu šeit, automātiski nosakot apakšmapi
Name[nb]=Pakk ut arkivet her, finn undermapper automatisk
Name[nds]=Archiev hier utpacken, Ünnerorner autom. finnen
Name[nl]=Archief hier uitpakken, submap autodetecteren
Name[pa]=ਅਕਾਇਵ ਇੱਥੇ ਖੋਲ੍ਹੋ, ਸਬ-ਫੋਲਡਰ ਆਪੇ ਖੋਜੋ
Name[pt]=Extrair o pacote para aqui, detectar automaticamente a sub-pasta
Name[pt_BR]=Extrair arquivo aqui, com detecção automática da subpasta
Name[ro]=Extrage arhiva aici, autodetectează subdosarul
Name[ru]=Распаковать во вложенную папку
Name[sl]=Izvleci arhiv sem in samodejno zaznaj podmapo
Name[sr]=Распакуј архиву овде, аутоматски откриј потфасциклу
Name[sr@latin]=Raspakuj arhivu ovde, automatski otkrij potfasciklu
Name[sv]=Packa upp arkiv här, detektera underkatalog automatiskt
Name[th]=คลายแฟ้มจัดเก็บไว้ที่นี่, และตรวจสอบโฟลเดอร์ย่อยอัตโนมัติ
Name[tr]=Arşivi Buraya Aç, Dizin Yapısını Koru
Name[uk]=Видобути архів сюди, автоматично визначити підтеку
Name[x-test]=xxExtract archive here, autodetect subfolderxx
Name[zh_CN]=在此解压缩归档，自动探测子文件夹
Name[zh_TW]=在此解壓縮，自動偵測子資料夾
Icon=utilities-file-archiver
Exec=ark --batch --autodestination --autosubfolder %F
