[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-gzip;application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;application/zip;application/x-bzip;application/x-rar;application/x-tarz;application/x-bzip2;application/x-java-archive;application/x-deb;application/x-7z-compressed;application/x-compress;application/x-zip-compressed;application/x-lzma;application/x-servicepack;
Actions=arkAutoExtractHere;arkExtractTo;arkExtractHere;
#X-KDE-Submenu=Extract me beautiful
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
#StartupNotify=false

[Desktop Action arkExtractHere]
Name=Extract Archive Here
Name[ar]=فك الأرشيف هنا
Name[ca]=Extreu l'arxiu aquí
Name[cs]=Rozbalit archív sem
Name[da]=Udpak arkiv her
Name[de]=Archiv hierher auspacken
Name[el]=Εξαγωγή αρχειοθήκης εδώ
Name[en_GB]=Extract Archive Here
Name[es]=Extraer archivo comprimido aquí
Name[et]=Paki arhiiv siia lahti
Name[fr]=Extraire l'archive ici
Name[hr]=Ovdje otpakiraj arhivu
Name[hu]=Kibontás ide
Name[is]=Afþjappa safnskrá hér
Name[it]=Estrai l'archivio qui
Name[ja]=アーカイブをここに展開
Name[km]=ស្រង់ចេញ​ប័ណ្ណសារ​នៅ​ទីនេះ
Name[lv]=Atspiest arhīvu šeit
Name[nb]=Pakk ut arkivet her
Name[nds]=Archiev hier utpacken
Name[nl]=Archief hier uitpakken
Name[nn]=Pakk ut arkivet her
Name[pa]=ਅਕਾਇਵ ਇੱਥੇ ਖੋਲ੍ਹੋ
Name[pl]=Rozpakuj tutaj archiwum
Name[pt]=Extrair o Pacote para Aqui
Name[pt_BR]=Extrair arquivo aqui
Name[ro]=Extrage arhiva aici
Name[ru]=Распаковать в эту папку
Name[sk]=Rozbaliť archív sem
Name[sl]=Izvleci arhiv sem
Name[sr]=Распакуј архиву овде
Name[sr@latin]=Raspakuj arhivu ovde
Name[sv]=Packa upp arkiv här
Name[tr]=Arşivi Buraya Aç
Name[uk]=Видобути архів сюди
Name[x-test]=xxExtract Archive Herexx
Name[zh_CN]=在此解压缩归档
Name[zh_TW]=在此解壓縮
Icon=utilities-file-archiver
Exec=ark --batch --autodestination %F

[Desktop Action arkExtractTo]
Name=Extract Archive To...
Name[ar]=فك الأرشيف إلى...
Name[ca]=Extreu l'arxiu a...
Name[cs]=Rozbalit archív do...
Name[da]=Udpak arkiv til...
Name[de]=Archiv auspacken nach ...
Name[el]=Εξαγωγή αρχειοθήκης σε...
Name[en_GB]=Extract Archive To...
Name[es]=Extraer archivo comprimido en...
Name[et]=Paki arhiiv lahti...
Name[fr]=Extraire l'archive vers...
Name[hr]=Otpakiraj arhivu u …
Name[hu]=Kibontás ide...
Name[is]=Afþjappa safnskrá í...
Name[it]=Estrai l'archivio in...
Name[ja]=アーカイブを展開...
Name[km]=ស្រង់ចេញ​ប័ណ្ណសារ​ទៅ...
Name[lv]=Atspiest arhīvu uz...
Name[nb]=Pakk ut arkivet til …
Name[nds]=Archiev utpacken as...
Name[nl]=Archief uitpakken naar...
Name[nn]=Pakk ut arkivet til …
Name[pa]=...ਵਜੋਂ ਅਕਾਇਵ ਐਕਸਟਰੈਕਟ
Name[pl]=Rozpakuj archiwum do...
Name[pt]=Extrair o Pacote Para...
Name[pt_BR]=Extrair arquivo para...
Name[ro]=Extrage arhiva în...
Name[ru]=Распаковать в...
Name[sk]=Rozbaliť archív do...
Name[sl]=Izvleci arhiv v ...
Name[sr]=Распакуј архиву у...
Name[sr@latin]=Raspakuj arhivu u...
Name[sv]=Packa upp arkiv i...
Name[tr]=Arşivi Farklı Bir Konuma Aç...
Name[uk]=Видобути архів до...
Name[x-test]=xxExtract Archive To...xx
Name[zh_CN]=解压缩归档到...
Name[zh_TW]=解壓縮到...
Icon=utilities-file-archiver
Exec=ark --batch --autodestination --dialog %F

[Desktop Action arkAutoExtractHere]
Name=Extract Archive Here, Autodetect Subfolder
Name[ar]=فك الأرشيف هنا ، تعرف تلقائي للمجلدات الفرعية
Name[ca]=Extreu l'arxiu aquí, detecta automàticament la subcarpeta
Name[cs]=Rozbalit archív sem, automaticky detekovat podsložku
Name[da]=Udpak arkiv her og find automatisk undermappe
Name[de]=Archiv hierher auspacken, Unterordner selbstständig ermitteln
Name[el]=Εξαγωγή αρχειοθήκης εδώ, αυτόματη επιλογή υποφακέλου
Name[en_GB]=Extract Archive Here, Autodetect Subfolder
Name[es]=Extraer archivo comprimido aquí, autodetectar subcarpeta
Name[et]=Paki arhiiv siia lahti, tuvasta automaatselt alamkataloog
Name[fr]=Extraire l'archive ici, auto-détecter les sous-dossiers
Name[hr]=Ovdje otpakiraj arhivu i automatski prepoznaj podmapu
Name[hu]=Kibontás ide (automatikus almappalétrehozás)
Name[is]=Afþjappa safnskrá hér, finna undirmöppur sjálfkrafa
Name[it]=Estrai l'archivio qui, autorileva la sottocartella
Name[ja]=アーカイブをここに展開、サブフォルダを自動検出
Name[km]=ស្រង់ចេញ​ប័ណ្ណសារ​នៅ​ទីនេះ រកថត​រង​ឃើញ​ដោយ​ស្វ័យ​ប្រវត្តិ
Name[lv]=Atspiest arhīvu šeit, automātiska apakšmape
Name[nb]=Pakk ut arkivet her, finn undermapper automatisk
Name[nds]=Archiev hier utpacken, Ünnerorner autom. opdecken
Name[nl]=Archief hier uitpakken, submap autodetecteren
Name[nn]=Pakk ut arkivet her / til undermappe
Name[pa]=ਅਕਾਇਵ ਇੱਥੇ ਖੋਲ੍ਹੋ, ਸਬ-ਫੋਲਡਰ ਆਪੇ ਖੋਜੋ
Name[pl]=Rozpakuj tutaj, automatycznie wykryj podkatalogi
Name[pt]=Extrair o Pacote Aqui com Detecção da Sub-Pasta
Name[pt_BR]=Extrair arquivo aqui, detectar automaticamente a subpasta
Name[ro]=Extrage arhiva aici, autodetectează subdosarul
Name[ru]=Распаковать во вложенную папку
Name[sk]=Rozbaliť archív sem, automaticky určiť podpriečinok
Name[sl]=Izvleci arhiv sem, samodejno zaznaj podmapo
Name[sr]=Распакуј архиву овде, погоди потфасциклу
Name[sr@latin]=Raspakuj arhivu ovde, pogodi potfasciklu
Name[sv]=Packa upp arkiv här, detektera underkatalog automatiskt
Name[tr]=Arşivi Buraya Aç, Dizin Yapısını Koru
Name[uk]=Видобути архів сюди, автоматично визначити підтеку
Name[x-test]=xxExtract Archive Here, Autodetect Subfolderxx
Name[zh_CN]=在此解压缩归档，自动探测子文件夹
Name[zh_TW]=在此解壓縮，自動偵測子資料夾
Icon=utilities-file-archiver
Exec=ark --batch --autodestination --autosubfolder %F
