[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=compressHere;compressAsZip;compressAsRar;compressAsTar;compressTo
X-KDE-Submenu=Compress
X-KDE-Submenu[bg]=Компресиране
X-KDE-Submenu[ca]=Compressió
X-KDE-Submenu[cs]=Zkomprimovat
X-KDE-Submenu[da]=Komprimér
X-KDE-Submenu[de]=Komprimieren
X-KDE-Submenu[el]=Συμπίεση
X-KDE-Submenu[es]=Comprimir
X-KDE-Submenu[et]=Paki
X-KDE-Submenu[eu]=Konprimatu
X-KDE-Submenu[fr]=Compresser
X-KDE-Submenu[ga]=Comhbhrúigh
X-KDE-Submenu[gl]=Comprimir
X-KDE-Submenu[hne]=संपीडित करव
X-KDE-Submenu[it]=Comprimi
X-KDE-Submenu[ja]=圧縮
X-KDE-Submenu[km]=បង្ហាប់
X-KDE-Submenu[ko]=압축하기
X-KDE-Submenu[lt]=Suspausti
X-KDE-Submenu[lv]=Saspiest
X-KDE-Submenu[nb]=Komprimer
X-KDE-Submenu[nds]=Komprimeren
X-KDE-Submenu[nl]=Comprimeren
X-KDE-Submenu[pa]=ਕੰਪਰੈੱਸ
X-KDE-Submenu[pt]=Comprimir
X-KDE-Submenu[pt_BR]=Compactar
X-KDE-Submenu[ro]=Comprimă
X-KDE-Submenu[ru]=Упаковать
X-KDE-Submenu[sk]=Komprimovať
X-KDE-Submenu[sl]=Stisni
X-KDE-Submenu[sr]=Компресовање
X-KDE-Submenu[sr@latin]=Kompresovanje
X-KDE-Submenu[th]=บีบข้อมูล
X-KDE-Submenu[tr]=Sıkıştır
X-KDE-Submenu[uk]=Стиснути
X-KDE-Submenu[x-test]=xxCompressxx
X-KDE-Submenu[zh_CN]=压缩
X-KDE-Submenu[zh_TW]=壓縮
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel

[Desktop Action compressHere]
Name=Here
Name[es]=Aquí
Name[et]=Siia
Name[pt]=Aqui
Name[pt_BR]=Aqui
Name[sv]=Här
Name[tr]=Buraya
Name[uk]=Сюди
Icon=utilities-file-archiver
Exec=ark --changetofirstpath --add --autofilename tar.gz %F

[Desktop Action compressAsZip]
Name=As ZIP Archive
Name[es]=Como archivo comprimido ZIP
Name[et]=ZIP-arhiivina
Name[pt]=Como Pacote ZIP
Name[pt_BR]=Como Pacote ZIP
Name[sv]=Som ZIP-arkiv
Name[tr]=ZIP Arşivi Olarak
Name[uk]=Як архів ZIP
Icon=utilities-file-archiver
Exec=ark --changetofirstpath --add --autofilename zip %F

[Desktop Action compressAsRar]
Name=As RAR Archive
Name[es]=Como archivo comprimido RAR
Name[et]=RAR-arhiivina
Name[pt]=Como Pacote RAR
Name[pt_BR]=Como Pacote RAR
Name[sv]=Som RAR-arkiv
Name[tr]=RAR Arşivi Olarak
Name[uk]=Як архів RAR
Icon=utilities-file-archiver
Exec=ark --changetofirstpath --add --autofilename rar %F

[Desktop Action compressAsTar]
Name=As ZIP/TAR Archive
Name[es]=Como archivo comprimido ZIP/TAR
Name[et]=ZIP/TAR-arhiivina
Name[pt]=Como Pacote ZIP/TAR
Name[pt_BR]=Como Pacote ZIP/TAR
Name[sv]=Som ZIP/TAR-arkiv
Name[tr]=ZIP/TAR Arşivi Olarak
Name[uk]=Як архів ZIP/TAR
Icon=utilities-file-archiver
Exec=ark --changetofirstpath --add --autofilename tar.gz %F

[Desktop Action compressTo]
Name=Compress to...
Name[bg]=Компресиране в...
Name[ca]=Comprimeix a...
Name[da]=Komprimér til...
Name[de]=Komprimieren nach...
Name[el]=Συμπίεση σε...
Name[es]=Comprimir en...
Name[et]=Paki asukohta...
Name[eu]=Konprimatu hona...
Name[fr]=Compresser vers...
Name[ga]=Comhbhrúigh go...
Name[gl]=Comprimir en...
Name[hne]=इहां संपीडित करव...
Name[it]=Comprimi in...
Name[ja]=圧縮...
Name[km]=បង្ហាប់​ទៅ...
Name[ko]=다음으로 압축하기...
Name[lt]=Suspausti į...
Name[lv]=Saspiest uz...
Name[nb]=Komprimer til …
Name[nds]=Komprimeren as...
Name[nl]=Comprimeren naar...
Name[pa]=...ਵਜੋਂ ਕੰਪਰੈੱਸ ਕਰੋ
Name[pt]=Comprimir para...
Name[pt_BR]=Compactar para...
Name[ro]=Comprimă în...
Name[ru]=Упаковать в файл...
Name[sk]=Komprimovať do...
Name[sl]=Stisni v ...
Name[sr]=Компресуј у...
Name[sr@latin]=Kompresuj u...
Name[sv]=Komprimera till...
Name[th]=บีบข้อมูลไปยัง...
Name[tr]=Farklı sıkıştır...
Name[uk]=Стиснути у...
Name[x-test]=xxCompress to...xx
Name[zh_CN]=压缩到...
Name[zh_TW]=壓縮為...
Icon=utilities-file-archiver
Exec=ark --add --changetofirstpath --dialog %F
