[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqDndPopupMenu/Plugin
X-KDE-Library=libextracthere
Name=Ark Extract Here
Name[es]=Extraer aquí con Ark
Name[et]=Paki siia lahti
Name[km]=ស្រង់ចេញ Ark នៅ​ទីនេះ
Name[nb]=Pakk ut arkivet her med Ark
Name[nds]=Hier mit Ark utpacken
Name[pt]=Extrair para Aqui
Name[pt_BR]=Extrair com o Ark aqui
Name[sk]=Ark rozbaliť sem
Name[sv]=Packa upp arkiv här
Name[uk]=Видобути архів сюди з Ark
Name[zh_CN]=Ark 在此解压缩
Name[zh_TW]=在此解壓縮
MimeType=application/x-gzip;application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;application/zip;application/x-bzip;application/x-rar;application/x-tarz;application/x-bzip2;application/x-java-archive;application/x-deb;application/x-7z-compressed;application/x-compress;application/x-zip-compressed;application/x-lzma;
