[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=addTo;addToRar;addToTar;addToZip;
X-KDE-Submenu=Compress
X-KDE-Submenu[ca]=Compressió
X-KDE-Submenu[cs]=Zkomprimovat
X-KDE-Submenu[da]=Komprimér
X-KDE-Submenu[de]=Komprimieren
X-KDE-Submenu[el]=Συμπίεση
X-KDE-Submenu[es]=Comprimir
X-KDE-Submenu[et]=Paki
X-KDE-Submenu[eu]=Konprimatu
X-KDE-Submenu[fr]=Compresser
X-KDE-Submenu[ga]=Comhbhrúigh
X-KDE-Submenu[gl]=Comprimir
X-KDE-Submenu[hne]=संपीडित करव
X-KDE-Submenu[it]=Comprimi
X-KDE-Submenu[ja]=圧縮
X-KDE-Submenu[km]=បង្ហាប់
X-KDE-Submenu[ko]=압축하기
X-KDE-Submenu[lv]=Saspiest
X-KDE-Submenu[nb]=Komprimer
X-KDE-Submenu[nds]=Komprimeren
X-KDE-Submenu[nl]=Comprimeren
X-KDE-Submenu[pa]=ਕੰਪਰੈੱਸ
X-KDE-Submenu[pt]=Comprimir
X-KDE-Submenu[pt_BR]=Compactar
X-KDE-Submenu[ro]=Comprimă
X-KDE-Submenu[ru]=Упаковать
X-KDE-Submenu[sl]=Stisni
X-KDE-Submenu[sr]=Компресовање
X-KDE-Submenu[sr@latin]=Kompresovanje
X-KDE-Submenu[th]=บีบข้อมูล
X-KDE-Submenu[tr]=Sıkıştır
X-KDE-Submenu[uk]=Стиснути
X-KDE-Submenu[x-test]=xxCompressxx
X-KDE-Submenu[zh_CN]=压缩
X-KDE-Submenu[zh_TW]=壓縮
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel

[Desktop Action addToZip]
Name=ZIP archive
Name[ga]=Cartlann ZIP
Name[pt]=Pacote ZIP
Name[pt_BR]=Pacote ZIP
Name[uk]=Архів ZIP
Name[zh_TW]=ZIP 壓縮檔
Icon=utilities-file-archiver
Exec=ark --changetofirstpath --add --autofilename zip %F

[Desktop Action addToRar]
Name=RAR archive
Name[ca]=Arxiu RAR
Name[cs]=Rar archív
Name[da]=RAR arkiv
Name[de]=RAR Archiv
Name[el]=Αρχειοθήκη RAR
Name[es]=Archivo comprimido RAR
Name[et]=RAR-arhiiv
Name[eu]=RAR Artxiboa
Name[fr]=Archive RAR
Name[ga]=Cartlann RAR
Name[gl]=Arquivo RAR
Name[hne]=रार अभिलेखक
Name[it]=Archivio RAR
Name[ja]=RAR アーカイブ
Name[km]=ប័ណ្ណសារ RAR
Name[ko]=RAR 압축 파일
Name[lv]=RAR arhīvs
Name[nb]=RAR-arkiv
Name[nds]=RAR-Archiev
Name[nl]=RAR-archief
Name[pa]=RAR ਅਕਾਇਵ
Name[pt]=Pacote RAR
Name[pt_BR]=Arquivo RAR
Name[ro]=Arhivă RAR
Name[ru]=Архив RAR
Name[sl]=Arhiv RAR
Name[sr]=РАР архива
Name[sr@latin]=RAR arhiva
Name[sv]=RAR-arkiv
Name[th]=แฟ้มจัดเก็บแบบบีบอัด RAR
Name[tr]=RAR arşivi
Name[uk]=Архів RAR
Name[x-test]=xxRAR archivexx
Name[zh_CN]=RAR 归档
Name[zh_TW]=RAR 壓縮檔
Icon=utilities-file-archiver
Exec=ark --changetofirstpath --add --autofilename rar %F

[Desktop Action addToTar]
Name=Gzip-compressed tar archive
Name[ca]=Arxiu «tar» comprimit amb «gzip»
Name[da]=Gzip-komprimeret tar-arkiv
Name[de]=Gzip komprimiertes tar-Archiv
Name[el]=Αρχειοθήκη tar συμπιεσμένη με Gzip
Name[es]=Archivo tar comprimido con gzip
Name[et]=Gzip-tihendusega tar-arhiiv
Name[eu]=Gzip-ekin konprimatutako 
Name[fr]=Archive tar compressée par GZip
Name[ga]=Cartlann tar comhbhrúite le gzip
Name[gl]=Arquivo tar comprimido con Gzip
Name[hne]=गजिप संपीडित रार अभिलेख
Name[it]=Archivio tar compresso con Gzip
Name[ja]=gzip で圧縮された TAR アーカイブ
Name[km]=ប័ណ្ណសារ​ Gzip-compressed tar
Name[ko]=Gzip으로 압축된 tar 파일
Name[lv]=Gzip-saspiests arhīvs
Name[nb]=Gzip-komprimert tar-arkiv
Name[nds]=GZip-komprimeert Tar-Archiev
Name[nl]=Gzip-gecomprimeerd tar-archief
Name[pa]=ਜੀ-ਜ਼ਿੱਪ-ਕੰਪਰੈੱਸ ਟਾਰ ਅਕਾਇਵ
Name[pt]=Pacote TAR comprimido com o GZip
Name[pt_BR]=Arquivo TAR compactado com o Gzip
Name[ro]=Arhivă tar comprimată cu gzip
Name[ru]=Сжатый Gzip архив Tar
Name[sl]=Arhiv tar stisnjen z gzip
Name[sr]=Гзипована тар архива
Name[sr@latin]=Gzipovana tar arhiva
Name[sv]=Gzip-komprimerat tar-arkiv
Name[th]=แฟ้มจัดเก็บ tar แบบบีบอัดด้วย Gzip
Name[tr]=Tar.gz arşivi
Name[uk]=Стиснутий gzip архів tar
Name[x-test]=xxGzip-compressed tar archivexx
Name[zh_CN]=Gzip 压缩的 tar 归档
Name[zh_TW]=tar.gz 壓縮檔
Icon=utilities-file-archiver
Exec=ark --changetofirstpath --add --autofilename tar.gz %F

[Desktop Action addTo]
Name=Compress to...
Name[ca]=Comprimeix a...
Name[da]=Komprimér til...
Name[de]=Komprimieren nach...
Name[el]=Συμπίεση σε...
Name[es]=Comprimir en...
Name[et]=Paki asukohta...
Name[eu]=Konprimatu hona...
Name[fr]=Compresser vers...
Name[ga]=Comhbhrúigh go...
Name[gl]=Comprimir en...
Name[hne]=इहां संपीडित करव...
Name[it]=Comprimi in...
Name[ja]=圧縮...
Name[km]=បង្ហាប់​ទៅ...
Name[ko]=다음으로 압축하기...
Name[lv]=Saspiest uz...
Name[nb]=Komprimer til …
Name[nds]=Komprimeren as...
Name[nl]=Comprimeren naar...
Name[pa]=...ਵਜੋਂ ਕੰਪਰੈੱਸ ਕਰੋ
Name[pt]=Comprimir para...
Name[pt_BR]=Compactar para...
Name[ro]=Comprimă în...
Name[ru]=Упаковать в файл...
Name[sl]=Stisni v ...
Name[sr]=Компресуј у...
Name[sr@latin]=Kompresuj u...
Name[sv]=Komprimera till...
Name[th]=บีบข้อมูลไปยัง...
Name[tr]=Farklı sıkıştır...
Name[uk]=Стиснути у...
Name[x-test]=xxCompress to...xx
Name[zh_CN]=压缩到...
Name[zh_TW]=壓縮為...
Icon=utilities-file-archiver
Exec=ark --add --changetofirstpath --dialog %F
