[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqDndPopupMenu/Plugin
X-KDE-Library=libextracthere
Name=Ark Extract Here
MimeType=application/x-gzip;application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;application/zip;application/x-bzip;application/x-rar;application/x-tarz;application/x-bzip2;application/x-java-archive;application/x-deb;application/x-7z-compressed;application/x-compress;application/x-zip-compressed;application/x-lzma;application/x-xz-compressed-tar;application/x-lzma-compressed-tar;application/x-cd-image;
