[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=compressHere;compressAsZip;compressAsRar;compressAsTar;compressTo;
X-KDE-Submenu=Compress
X-KDE-Submenu[ar]=اضغط
X-KDE-Submenu[bg]=Компресиране
X-KDE-Submenu[ca]=Compressió
X-KDE-Submenu[cs]=Zkomprimovat
X-KDE-Submenu[da]=Komprimér
X-KDE-Submenu[de]=Komprimieren
X-KDE-Submenu[el]=Συμπίεση
X-KDE-Submenu[en_GB]=Compress
X-KDE-Submenu[es]=Comprimir
X-KDE-Submenu[et]=Paki
X-KDE-Submenu[eu]=Konprimatu
X-KDE-Submenu[fr]=Compresser
X-KDE-Submenu[ga]=Comhbhrúigh
X-KDE-Submenu[gl]=Comprimir
X-KDE-Submenu[hne]=संपीडित करव
X-KDE-Submenu[hr]=Zapakiraj
X-KDE-Submenu[hu]=Tömörítés
X-KDE-Submenu[is]=Þjappa
X-KDE-Submenu[it]=Comprimi
X-KDE-Submenu[ja]=圧縮
X-KDE-Submenu[km]=បង្ហាប់
X-KDE-Submenu[ko]=압축하기
X-KDE-Submenu[lt]=Suspausti
X-KDE-Submenu[lv]=Saspiest
X-KDE-Submenu[mai]=संपीडित करू
X-KDE-Submenu[nb]=Komprimer
X-KDE-Submenu[nds]=Komprimeren
X-KDE-Submenu[nl]=Comprimeren
X-KDE-Submenu[nn]=Komprimer
X-KDE-Submenu[pa]=ਕੰਪਰੈੱਸ
X-KDE-Submenu[pl]=Kompresuj
X-KDE-Submenu[pt]=Comprimir
X-KDE-Submenu[pt_BR]=Compactar
X-KDE-Submenu[ro]=Comprimă
X-KDE-Submenu[ru]=Упаковать
X-KDE-Submenu[sk]=Komprimovať
X-KDE-Submenu[sl]=Stisni
X-KDE-Submenu[sr]=Компресуј
X-KDE-Submenu[sr@latin]=Kompresuj
X-KDE-Submenu[sv]=Compress
X-KDE-Submenu[th]=บีบข้อมูล
X-KDE-Submenu[tr]=Sıkıştır
X-KDE-Submenu[uk]=Стиснути
X-KDE-Submenu[x-test]=xxCompressxx
X-KDE-Submenu[zh_CN]=压缩
X-KDE-Submenu[zh_TW]=壓縮
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel

[Desktop Action compressHere]
Name=Here
Name[ar]=هنا
Name[ca]=Aquí
Name[cs]=Sem
Name[da]=Her
Name[de]=Hier
Name[el]=Εδώ
Name[en_GB]=Here
Name[es]=Aquí
Name[et]=Siia
Name[fr]=Ici
Name[hr]=Ovdje
Name[hu]=Ide
Name[is]=Hér
Name[it]=Qui
Name[ja]=ここに
Name[km]=នៅ​ទីនេះ
Name[lv]=Šeit
Name[nb]=Her
Name[nds]=Hier
Name[nl]=Hier
Name[nn]=Her
Name[pa]=ਇੱਥੇ
Name[pl]=Tutaj
Name[pt]=Aqui
Name[pt_BR]=Aqui
Name[ro]=Aici
Name[ru]=В эту папку
Name[sk]=Sem
Name[sl]=Sem
Name[sr]=овде
Name[sr@latin]=ovde
Name[sv]=Här
Name[tr]=Buraya
Name[uk]=Сюди
Name[x-test]=xxHerexx
Name[zh_CN]=这里
Name[zh_TW]=這裡
Icon=utilities-file-archiver
Exec=ark --changetofirstpath --add --autofilename tar.gz %F

[Desktop Action compressAsZip]
Name=As ZIP Archive
Name[ar]=ك أرشيف ZIP
Name[ca]=Com a arxiu ZIP
Name[cs]=Jako ZIP archív
Name[da]=Som ZIP-arkiv
Name[de]=Als ZIP-Archiv
Name[el]=Αρχειοθήκη ZIP
Name[en_GB]=As ZIP Archive
Name[es]=Como archivo comprimido ZIP
Name[et]=ZIP-arhiivina
Name[fr]=En tant qu'archive ZIP
Name[hr]=Kao ZIP-arhiva
Name[hu]=ZIP archívumként
Name[is]=Sem ZIP safnskrá
Name[it]=Come archivio ZIP
Name[ja]=ZIP アーカイブに
Name[km]=ជា​ប័័ណ្ណសារ ZIP
Name[lv]=Kā ZIP arhīvu
Name[nb]=Som ZIP-arkiv
Name[nds]=As Zip-Archiev
Name[nl]=Als ZIP-archief
Name[nn]=Som ZIP-arkiv
Name[pa]=ZIP ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum ZIP
Name[pt]=Como Pacote ZIP
Name[pt_BR]=Como arquivo ZIP
Name[ro]=Ca arhivă ZIP
Name[ru]=Как архив ZIP
Name[sk]=Do ZIP archívu
Name[sl]=Kot arhiv ZIP
Name[sr]=као ЗИП архиву
Name[sr@latin]=kao ZIP arhivu
Name[sv]=Som ZIP-arkiv
Name[tr]=ZIP Arşivi Olarak
Name[uk]=Як архів ZIP
Name[x-test]=xxAs ZIP Archivexx
Name[zh_CN]=为 ZIP 归档
Name[zh_TW]=成 ZIP 壓縮檔
Icon=utilities-file-archiver
Exec=ark --changetofirstpath --add --autofilename zip %F

[Desktop Action compressAsRar]
Name=As RAR Archive
Name[ar]=كأرشيف RAR
Name[ca]=Com a arxiu RAR
Name[cs]=Jako RAR archív
Name[da]=Som RAR-arkiv
Name[de]=Als RAR-Archiv
Name[el]=Αρχειοθήκη RAR
Name[en_GB]=As RAR Archive
Name[es]=Como archivo comprimido RAR
Name[et]=RAR-arhiivina
Name[fr]=En tant qu'archive RAR
Name[hr]=Kao RAR-arhiva
Name[hu]=RAR archívumként
Name[is]=Sem RAR safnskrá
Name[it]=Come archivio RAR
Name[ja]=RAR アーカイブに
Name[km]=​ជា​ប័ណ្ណសារ RAR
Name[lv]=Kā RAR arhīvu
Name[nb]=Som RAR-arkiv
Name[nds]=As RAR-Archiev
Name[nl]=Als RAR-archief
Name[nn]=Som RAR-arkiv
Name[pa]=RAR ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum RAR
Name[pt]=Como Pacote RAR
Name[pt_BR]=Como arquivo RAR
Name[ro]=Ca arhivă RAR
Name[ru]=Как архив RAR
Name[sk]=Do RAR archívu
Name[sl]=Kot arhiv RAR
Name[sr]=као РАР архиву
Name[sr@latin]=kao RAR arhivu
Name[sv]=Som RAR-arkiv
Name[tr]=RAR Arşivi Olarak
Name[uk]=Як архів RAR
Name[x-test]=xxAs RAR Archivexx
Name[zh_CN]=为 RAR 归档
Name[zh_TW]=成 RAR 壓縮檔
Icon=utilities-file-archiver
Exec=ark --changetofirstpath --add --autofilename rar %F

[Desktop Action compressAsTar]
Name=As ZIP/TAR Archive
Name[ar]=كأرشيف  ZIP/TAR
Name[ca]=Com a arxiu ZIP/TAR
Name[cs]=Jako ZIP/TAR archív
Name[da]=Som ZIP-/TAR-arkiv
Name[de]=Als ZIP/TAR-Archiv
Name[el]=Σε αρχειοθήκη ZIP/TAR
Name[en_GB]=As ZIP/TAR Archive
Name[es]=Como archivo comprimido ZIP/TAR
Name[et]=ZIP/TAR-arhiivina
Name[fr]=En tant qu'archive ZIP/TAR
Name[hr]=Kao ZIP/TAR-arhiva
Name[hu]=ZIP/TAR archívumként
Name[is]=Sem ZIP/TAR safnskrá
Name[it]=Come archivio ZIP/TAR
Name[ja]=ZIP/TAR アーカイブに
Name[km]=ជា​ប័ណ្ណសារ ZIP/TAR
Name[lv]=Kā ZIP/TAR arhīvu
Name[nb]=Som ZIP/TAR-arkiv
Name[nds]=As Zip/Tar-Archiev
Name[nl]=Als ZIP/TAR-archief
Name[nn]=Som ZIP/TAR-arkiv
Name[pa]=ZIP/TAR ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum ZIP/TAR
Name[pt]=Como Pacote ZIP/TAR
Name[pt_BR]=Como arquivo ZIP/TAR
Name[ro]=Ca arhivă ZIP/TAR
Name[ru]=Как архив ZIP/TAR
Name[sk]=Do ZIP/TAR archívu
Name[sl]=Kot arhiv ZIP/TAR
Name[sr]=као ЗИП+тар архиву
Name[sr@latin]=kao ZIP+tar arhivu
Name[sv]=Som ZIP/TAR-arkiv
Name[tr]=ZIP/TAR Arşivi Olarak
Name[uk]=Як архів ZIP/TAR
Name[x-test]=xxAs ZIP/TAR Archivexx
Name[zh_CN]=为 ZIP/TAR 归档
Name[zh_TW]=成 ZIP 壓縮檔
Icon=utilities-file-archiver
Exec=ark --changetofirstpath --add --autofilename tar.gz %F

[Desktop Action compressTo]
Name=Compress To...
Name[ar]=اضغط إلى...
Name[ca]=Comprimeix a...
Name[cs]=Zkomprimovat do...
Name[da]=Komprimér til...
Name[de]=Komprimieren nach ...
Name[el]=Συμπίεση σε...
Name[en_GB]=Compress To...
Name[es]=Comprimir en...
Name[et]=Paki asukohta...
Name[fr]=Compresser vers...
Name[hr]=Zapakiraj u …
Name[hu]=Tömörítés ide...
Name[is]=Þjappa í...
Name[it]=Comprimi in...
Name[ja]=圧縮...
Name[km]=បង្ហាប់​ទៅ​ជា​...
Name[lv]=Saspiest uz...
Name[nb]=Komprimer til …
Name[nds]=Komprimeren as...
Name[nl]=Comprimeren naar...
Name[nn]=Komprimer til …
Name[pa]=...ਵਜੋਂ ਕੰਪਰੈੱਸ ਕਰੋ
Name[pl]=Kompresuj do...
Name[pt]=Comprimir Para...
Name[pt_BR]=Comprimir para...
Name[ro]=Comprimă în...
Name[ru]=Упаковать в архив...
Name[sk]=Komprimovať do...
Name[sl]=Stisni v ...
Name[sr]=другде...
Name[sr@latin]=drugde...
Name[sv]=Komprimera till...
Name[tr]=Farklı Sıkıştır...
Name[uk]=Стиснути до...
Name[x-test]=xxCompress To...xx
Name[zh_CN]=压缩到...
Name[zh_TW]=壓縮為...
Icon=utilities-file-archiver
Exec=ark --add --changetofirstpath --dialog %F
