[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_cliunarchiver
X-KDE-PluginInfo-Author=Luke Shumaker
X-KDE-PluginInfo-Email=lukeshu@sbcglobal.net
X-KDE-PluginInfo-Name= kerfuffle_cliunarchiver
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-Priority=150
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=false
Name=The Unarchiver plugin
MimeType=application/x-rar;