[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_7z
X-KDE-PluginInfo-Author=Harald Hvaal
X-KDE-PluginInfo-Email=haraldhv@stud.ntnu.no
X-KDE-PluginInfo-Name=kerfuffle_7z
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv3
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=7zip archive plugin
Name[et]=7zip arhiivi plugin
Name[ga]=Breiseán cartlainne 7zip
Name[ja]=7zip アーカイブ用プラグイン
Name[nds]=7zip-Archievmoduul
Name[pt]='Plugin' de pacotes '7zip'
Name[pt_BR]=Plug-in de arquivos 7zip
Name[sv]=Insticksprogram för 7zip arkiv
Name[uk]=Додаток для архівів 7zip
Name[zh_TW]=7zip 壓縮檔外掛程式
MimeType=application/x-7z-compressed;
