[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_7zip
X-KDE-PluginInfo-Author=Chen Yew Ming
X-KDE-PluginInfo-Email=fusion82@gmail.com
X-KDE-PluginInfo-Name=kerfuffle_7zip
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv2
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_7zip
Name[sv]=Kerfuffle 7zip
Comment=7zip plugin for Kerfuffle
Comment[el]=πρόσθετο 7zip για τη Kerfuffle
Comment[es]=Complemento 7zip para Kerfuffle
Comment[et]=Kerfuffle'i 7zip'i plugin
Comment[ga]=Breiseán 7zip le haghaidh Kerfuffle
Comment[gl]=Extensión de 7zup para Kerfuffle
Comment[km]=កម្មវិធី​ជំនួយ 7zip សម្រាប់ Kerfuffle
Comment[nds]=7zip-Moduul för Kerfuffle
Comment[pt]='Plugin' do '7zip' para o Kerfuffle
Comment[pt_BR]=Plug-in 7zip para a Kerfuffle
Comment[sv]=7zip-insticksprogram för Kerfuffle
Comment[tr]=Kerfuffle için 7zip eklentisi
Comment[uk]=Додаток 7zip для Kerfuffle
Comment[zh_CN]=Kerfuffle 的 7zip 插件
Comment[zh_TW]=Kerfuffle 的 7zip 外掛程式
MimeType=application/x-7z-compressed;
