[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_7zip
X-KDE-PluginInfo-Author=Chen Yew Ming
X-KDE-PluginInfo-Email=fusion82@gmail.com
X-KDE-PluginInfo-Name=kerfuffle_7zip
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv2
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_7zip
Comment=7zip plugin for Kerfuffle
MimeType=application/x-7z-compressed;
