[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_7zip
X-KDE-PluginInfo-Author=Chen Yew Ming
X-KDE-PluginInfo-Email=fusion82@gmail.com
X-KDE-PluginInfo-Name=kerfuffle_7zip
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv2
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_7zip
Name[hne]=करफुफल_७जिप
Name[sv]=Kerfuffle 7zip
Name[x-test]=xxkerfuffle_7zipxx
Comment=7zip plugin for Kerfuffle
Comment[bg]=Приставка 7zip за Kerfuffle
Comment[ca]=Connector del 7zip per al Kerfuffle
Comment[da]=7zip-plugin til Kerfuffle
Comment[de]=7zip Modul für Kerfuffle
Comment[el]=πρόσθετο 7zip για τη Kerfuffle
Comment[es]=Complemento 7zip para Kerfuffle
Comment[et]=Kerfuffle'i 7zip'i plugin
Comment[eu]=Kerfuffle-rentzako 7zip plugina
Comment[fr]=Module 7zip pour Kerfuffle
Comment[ga]=Breiseán 7zip le haghaidh Kerfuffle
Comment[gl]=Extensión de 7zup para Kerfuffle
Comment[hne]=करफुफल बर ७जिप प्लगइन
Comment[it]=Plugin 7zip per Kerfuffle
Comment[ja]=Kerfuffle のための 7zip プラグイン
Comment[km]=កម្មវិធី​ជំនួយ 7zip សម្រាប់ Kerfuffle
Comment[ko]=Kerfuffle을 위한 7zip 플러그인
Comment[lv]=Kerfuffle 7zip spraudnis
Comment[nb]=7zip programtillegg for Kerfuffle
Comment[nds]=7zip-Moduul för Kerfuffle
Comment[nl]=7zip-plugin voor Kerfuffle
Comment[pt]='Plugin' do '7zip' para o Kerfuffle
Comment[pt_BR]=Plug-in 7zip para a Kerfuffle
Comment[ro]=Modul 7zip pentru Kerfuffle
Comment[ru]=Модуль 7zip для Kerfuffle
Comment[sk]=7zip modul pre Kerfuffle
Comment[sl]=Vstavek 7zip za Kerfuffle
Comment[sr]=Прикључак 7з архива за Керфафл
Comment[sr@latin]=Priključak 7z arhiva za Kerfuffle
Comment[sv]=7zip-insticksprogram för Kerfuffle
Comment[th]=ส่วนเสริมของ Kerfuffle สำหรับจัดการแฟ้มแบบ 7zip
Comment[tr]=Kerfuffle için 7zip eklentisi
Comment[uk]=Додаток 7zip для Kerfuffle
Comment[x-test]=xx7zip plugin for Kerfufflexx
Comment[zh_CN]=Kerfuffle 的 7zip 插件
Comment[zh_TW]=Kerfuffle 的 7zip 外掛程式
MimeType=application/x-7z-compressed;
