[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=TODO kerfuffle_cli
X-KDE-PluginInfo-Author=TODO Your name
X-KDE-PluginInfo-Email=TODO Your email
X-KDE-PluginInfo-Name=TODO kerfuffle_cli
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv3
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=TODO archive plugin
Name[ar]=ملحق أرشيف TODO
Name[ca]=Connector per arxius TODO
Name[da]=Arkiv-plugin for gøremål
Name[de]=TODO-Archiv-Modul
Name[el]=πρόσθετο αρχειοθήκης προς υλοποίηση
Name[en_GB]=TODO archive plugin
Name[es]=Complemento de archivo comprimido XXX
Name[et]=TODO arhiivi plugin
Name[fr]=Module d'archive TODO
Name[ga]=Breiseán cartlainne TODO
Name[hr]=Arhivni priključak TODO
Name[hu]=TODO modul
Name[is]=TODO safnskráaíforrit
Name[it]=plugin archivio TODO
Name[km]=កម្មវិធី​ជំនួយ​ប័ណ្ណសារ​របស់​ការងារ​ត្រូវ​ធ្វើ
Name[lv]=TODO arhīvu plugin
Name[nb]=-
Name[nds]=TODO-Archievmoduul
Name[nl]=TODO-archiefplugin
Name[nn]=TODO-arkivtillegg
Name[pl]=Wtyczka archiwów do zrobienia
Name[pt]='Plugin' de pacotes POR FAZER
Name[pt_BR]=Plug-in de arquivos A FAZER
Name[ro]=Modul de arhivă TODO
Name[ru]=TODO модуль архивирования
Name[sk]=TODO modul archívu
Name[sl]=Vstavek za arhive OPRAVILO
Name[sr]=(УРАДИ) прикључак архива
Name[sr@latin]=(URADI) priključak arhiva
Name[sv]=Insticksprogram för ATT GÖRA arkiv
Name[tr]=TODO arşivi eklentisi
Name[uk]=Ще не створений додаток архівів
Name[x-test]=xxTODO archive pluginxx
Name[zh_CN]=TODO 归档插件
Name[zh_TW]=TODO 歸檔外掛程式
MimeType=TODO;
