[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=TODO kerfuffle_cli
X-KDE-PluginInfo-Author=TODO Your name
X-KDE-PluginInfo-Email=TODO Your email
X-KDE-PluginInfo-Name=TODO kerfuffle_cli
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv3
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=TODO archive plugin
Name[es]=Complemento de archivo comprimido XXX
Name[et]=TODO arhiivi plugin
Name[ga]=Breiseán cartlainne TODO
Name[nb]=-
Name[nds]=TODO-Archievmoduul
Name[pt]='Plugin' de pacotes POR FAZER
Name[pt_BR]=Plug-in de arquivos A FAZER
Name[sr]=(УРАДИ) прикључак архива
Name[sr@latin]=(URADI) priključak arhiva
Name[sv]=Insticksprogram för ATT GÖRA arkiv
Name[uk]=Ще не створений додаток архівів
Name[zh_TW]=TODO 歸檔外掛程式
MimeType=TODO;
