[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=TODO kerfuffle_cli
X-KDE-PluginInfo-Author=TODO Your name
X-KDE-PluginInfo-Email=TODO Your email
X-KDE-PluginInfo-Name=TODO kerfuffle_cli
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=TODO archive plugin
Name[ar]=ملحق أرشيف TODO
Name[ast]=Complementu d'archivu comprimíu 'TODO'
Name[bs]=(URADI) priključak arhiva
Name[ca]=Connector per arxius TODO
Name[ca@valencia]=Connector per arxius TODO
Name[cs]=Modul pro archiv TODO
Name[da]=Arkiv-plugin for gøremål
Name[de]=TODO-Archiv-Modul
Name[el]=πρόσθετο αρχειοθήκης προς υλοποίηση
Name[en_GB]=TODO archive plugin
Name[es]=Complemento de archivo comprimido XXX
Name[et]=TODO arhiivi plugin
Name[eu]=TODO artxibuen plugina
Name[fi]=TODO-arkistointiliitännäinen
Name[fr]=Module d'archive TODO
Name[ga]=Breiseán cartlainne TODO
Name[gl]=Extensión de arquivo TODO
Name[hr]=Arhivni priključak TODO
Name[hu]=TODO modul
Name[id]=Pengaya arsip TODO
Name[is]=TODO safnskráaíforrit
Name[it]=plugin archivio TODO
Name[kk]=TODO архив плагині
Name[km]=កម្មវិធី​ជំនួយ​ប័ណ្ណសារ​របស់​ការងារ​ត្រូវ​ធ្វើ
Name[ko]=TODO 압축 플러그인
Name[lt]=PADARYTI archyvų priedas
Name[lv]=TODO arhīvu spraudnis
Name[nb]=Programtillegg for gjøremålsarkiv
Name[nds]=TODO-Archievmoduul
Name[nl]=TODO-archiefplug-in
Name[nn]=TODO-arkivtillegg
Name[pl]=Wtyczka archiwów do zrobienia
Name[pt]='Plugin' de pacotes POR FAZER
Name[pt_BR]=Plug-in de arquivos A FAZER
Name[ro]=Modul de arhivă TODO
Name[ru]=TODO модуль архивирования
Name[sk]=TODO modul archívu
Name[sl]=Vstavek za arhive OPRAVILO
Name[sq]=TODO arkiv plugin
Name[sr]=(УРАДИ) прикључак архива
Name[sr@ijekavian]=(УРАДИ) прикључак архива
Name[sr@ijekavianlatin]=(URADI) priključak arhiva
Name[sr@latin]=(URADI) priključak arhiva
Name[sv]=Insticksprogram för ATT GÖRA arkiv
Name[th]=ส่วนเสริมการจัดการแฟ้มจัดเก็บแบบ TODO
Name[tr]=TODO arşivi eklentisi
Name[uk]=Ще не створений додаток архівів
Name[x-test]=xxTODO archive pluginxx
Name[zh_CN]=TODO 归档插件
Name[zh_TW]=TODO 歸檔外掛程式
MimeType=TODO;
