[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_rar
X-KDE-PluginInfo-Author=Claudio Bantaloukas
X-KDE-PluginInfo-Email=rockdreamer@gmail.com
X-KDE-PluginInfo-Name=kerfuffle_rar
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv2
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_rar
Name[sv]=Kerfuffle Rar
Name[x-test]=xxkerfuffle_rarxx
Comment=rar plugin for Kerfuffle
Comment[ca]=Connector del rar pel Kerfuffle
Comment[da]=rar-plugin til Kerfuffle
Comment[de]=RAR-Modul für Kerfuffle
Comment[el]=πρόσθετο rar για τη Kerfuffle
Comment[es]=Complemento rar para Kerfuffle
Comment[et]=Kerfuffle'i RAR-plugin
Comment[fi]=rar-liitännäinen Kerfufflelle
Comment[fr]=Module « RAR » pour Kerfuffle
Comment[ga]=Breiseán rar le haghaidh Kerfuffle
Comment[gl]=Extensión de rar para Kerfuffle
Comment[ja]=Kerfuffle のための rar プラグイン
Comment[km]=កម្មវិធី​ជំនួយ rar សម្រាប់ Kerfuffle
Comment[ko]=Kerfuffle을 위한 RAR 플러그인
Comment[lv]=Kerfuffle rar spraudnis
Comment[nds]=Rar-Moduul för Kerfuffle
Comment[pt]='Plugin' do RAR para o Kerfuffle
Comment[pt_BR]=Plugin rar para a Kerfuffle
Comment[sv]=Rar-insticksprogram för Kerfuffle
Comment[tr]=Kerfuffle için rar eklentisi
Comment[uk]=Втулка rar для Kerfuffle
Comment[x-test]=xxrar plugin for Kerfufflexx
Comment[zh_CN]=Kerfuffle 的 rar 插件
Comment[zh_TW]=Kerfuffle 的 rar 外掛程式
MimeType=application/rar;application/x-rar
