[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_rar
X-KDE-PluginInfo-Author=Claudio Bantaloukas
X-KDE-PluginInfo-Email=rockdreamer@gmail.com
X-KDE-PluginInfo-Name=kerfuffle_rar
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv2
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_rar
Comment=rar plugin for Kerfuffle
Comment[ga]=Breiseán rar le haghaidh Kerfuffle
Comment[ja]=Kerfuffle のための rar プラグイン
Comment[km]=កម្មវិធី​ជំនួយ rar សម្រាប់ Kerfuffle
Comment[ko]=Kerfuffle을 위한 RAR 플러그인
Comment[pt]='Plugin' do RAR para o Kerfuffle
Comment[pt_BR]=Plugin rar para a Kerfuffle
Comment[zh_TW]=Kerfuffle 的 rar 外掛程式
MimeType=application/rar;application/x-rar
