[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_rar
X-KDE-PluginInfo-Author=Claudio Bantaloukas
X-KDE-PluginInfo-Email=rockdreamer@gmail.com
X-KDE-PluginInfo-Name=kerfuffle_rar
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv2
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_rar
Comment=rar plugin for Kerfuffle
MimeType=application/rar;application/x-rar
