[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_clizip
X-KDE-PluginInfo-Author=Harald Hvaal
X-KDE-PluginInfo-Email=haraldhv@stud.ntnu.no
X-KDE-PluginInfo-Name=kerfuffle_clizip
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv3
X-KDE-Priority=160
X-KDE-Kerfuffle-APIRevision=1
X-KDE-Kerfuffle-ReadWrite=true
Name=ZIP archive plugin
Name[ar]=ملحق أرشيف ZIP
Name[ca]=Connector per arxius ZIP
Name[cs]=Modul pro ZIP archív
Name[da]=ZIP arkiv-plugin
Name[de]=ZIP-Archiv-Modul
Name[el]=πρόσθετο αρχειοθήκης ZIP
Name[en_GB]=ZIP archive plugin
Name[es]=Complemento de archivo comprimido ZIP
Name[et]=ZIP-arhiivi plugin
Name[fr]=Module d'archive ZIP
Name[hr]=Arhivni priključak ZIP
Name[hu]=ZIP modul
Name[is]=ZIP safnskráaíforrit
Name[it]=plugin archivio ZIP
Name[ja]=ZIP アーカイブ用プラグイン
Name[km]=កម្មវិធី​ជំនួយ​ប័ណ្ណសារ ZIP
Name[lv]=ZIP arhīvu spraudnis
Name[nb]=Programtillegg for ZIP-arkiv
Name[nds]=Zip-Archievmoduul
Name[nl]=ZIP-archiefplugin
Name[nn]=ZIP-arkivtillegg
Name[pa]=ZIP ਅਕਾਇਵ ਪਲੱਗਇਨ
Name[pl]=Wtyczka archiwów ZIP
Name[pt]='Plugin' de pacotes ZIP
Name[pt_BR]=Plug-in de arquivos ZIP
Name[ro]=Modul de arhivă ZIP
Name[ru]=Поддержка архивов ZIP
Name[sk]=Modul ZIP archívu
Name[sl]=Vstavek za arhive ZIP
Name[sr]=Прикључак ЗИП архива
Name[sr@latin]=Priključak ZIP arhiva
Name[sv]=Insticksprogram för ZIP-arkiv
Name[tr]=ZIP arşivi eklentisi
Name[uk]=Додаток для архівів ZIP
Name[x-test]=xxZIP archive pluginxx
Name[zh_CN]=ZIP 归档插件
Name[zh_TW]=ZIP 壓縮檔外掛程式
MimeType=application/x-java-archive;application/x-jar;application/zip;application/x-zip-compressed;
